
<div class="parent">

  <div class="header">
    <button mat-flat-button
    color="accent"
    class="button-white-borders"
    style="margin: 1em"
    (click)="onAddRol()">
      <fa-icon  [icon]="faAdd" size="1x"></fa-icon>
      Agregar Nuevo Rol
    </button>
  </div>

  <div class="list" *ngIf="tableRoleData">

    <mat-table [dataSource]="tableRoleData" class="mat-table">

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> # </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element; let i = index">{{i + 1}}</mat-cell>
      </ng-container>

      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
      </ng-container>

      <!-- Nombre Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <!-- Cantidad permisos Column -->
      <ng-container matColumnDef="permissions">
        <mat-header-cell mat-header-cell *matHeaderCellDef> Cantidad de permisos </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element"> {{element.permissions.length}} </mat-cell>
      </ng-container>

      <!-- Fecha creado Column -->
      <ng-container matColumnDef="created_at">
        <mat-header-cell mat-header-cell *matHeaderCellDef> Feche creación: </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element"> {{element.created_at| date: 'shortDate' | date: 'dd/MM/yyyy'}} </mat-cell>
      </ng-container>

      <!-- Fecha actualizado Column -->
      <ng-container matColumnDef="updated_at">
        <mat-header-cell mat-header-cell *matHeaderCellDef> Feche Actualizado: </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element"> {{ ( (element.updated_at)? element.updated_at : element.created_at )| date: 'shortDate' | date: 'dd/MM/yyyy'}} </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row  *matRowDef="let row; columns: displayedColumns;" (click)="onEditRole(row)"></mat-row>
    </mat-table>


  </div>

</div>
