// Aca van las variables generales que se usarian en otros archivos scss (Ejemplo: colores específicos que se suelen usar)

// Colors
$omics-background-flat: #201D2E;
$omics-background-flat-active: #504873;
$omics-background-button: #1B6485;
$omics-background-menu: #134260;
$omics-aqua-button: #59ADFF;
$omics-neon-pink: #b30bbd;

$omics-warning: #F8C822;
$omics-error: #FC4850;
$omics-success: #00E676;

// Screen size
$break-small: 950px;
