// Aca van las variables generales que se usarian en otros archivos scss (Ejemplo: colores específicos que se suelen usar)

$omics-background-flat: #201D2E;
$omics-background-button: #1B6485;
$omics-background-menu: #134260;

$omics-neon-pink: #b30bbd;
