// Aca van las variables generales que se usarian en otros archivos scss (Ejemplo: colores específicos que se suelen usar)

$omics-background-flat: #201D2E;
$omics-background-menu: #1B6485;
$omics-background-header: #134260;
