
// Imports de librerias
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "./vars";
@import '~bootstrap/scss/bootstrap'; /* Importing Bootstrap SCSS file. */

// Estilos generales
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue",sans-serif;

  //#region Estilos por defecto
  background-color: $omics-background-flat;
  color: white;

  // Botón deshabilitado general
  .mat-button-disabled {
    color: white !important;
    background-color: #acacac !important
  }

  //#endregion


}

