<div class="container-box">

  <div class="header">

    <div class="header-container">

      <!-- Selección Publicaciones / Contratos -->
      <div class="selector-type" style="flex: 1">

        <h2 style="margin: 0; display: flex; align-items: center;">
          Gestionar:
        </h2>

        <div class="box-type">
          <button  [ngClass]="{'selected': selectedPanel === 'publication'}"
                (click)="selectPanel('publication')">
            Publicaciones
          </button>

          <button  [ngClass]="{'selected': selectedPanel === 'contract'}"
                (click)="selectPanel('contract')">
            Contratos
          </button>
        </div>

      </div>

      <!-- TODO: Rango Fecha -->
      <div class="date-range" style="flex: 1">

      </div>

      <!-- Refresh publication -->
      <div class="button-action" style="flex: 1">
        <button mat-stroked-button class="button-white-borders rounded border-wide neon-shadow-hover"
                style="padding-top: 0.25em;"
                (click)="selectedPanel === 'publication' ? getAllPublication() : getAllContracts()">

          <fa-icon [icon]="faRefresh" size="2x"></fa-icon>
          Actualizar Solicitudes
        </button>
      </div>

    </div>


  </div>

  <div *ngIf="selectedPanel === 'publication'" class="body">

    <div *ngFor="let publication of publicationList" class="publication-box">

      <!-- Publication Thumbail -->
      <app-publication-card-manager
        [publication]="publication"
      >
      </app-publication-card-manager>

      <!-- Action Buttons -->
      <div class="action-button-publication">

        <button mat-flat-button color="warn"
                (click)="openMessageReasonDialog(publication, false)">

          <fa-icon [icon]="faReject" size="1x"></fa-icon>
          <span *ngIf="isBigScreen">Rechazar</span>

        </button>

        <button mat-flat-button color="accent"
                (click)="openMessageReasonDialog(publication, true)">

          <fa-icon [icon]="faApprove" size="1x"></fa-icon>
          <span *ngIf="isBigScreen">Aprobar</span>

        </button>

      </div>

    </div>

    <span *ngIf="publicationList.length === 0">

      <h1>No hay publicaciones disponibles</h1>

    </span>


  </div>

  <div *ngIf="selectedPanel === 'contract'" class="body">

    <div *ngFor="let contract of contracts" class="publication-box">

      <!-- Publication Thumbail -->
      <app-publication-card-manager
        [publication]="contract.publication"
      >
      </app-publication-card-manager>

      <!-- Action Buttons -->
      <div class="action-button-publication">
        <button
          mat-flat-button
          color="warn"
          (click)="rejectContract(contract)"
        >
          <fa-icon [icon]="faReject" size="1x"></fa-icon>
          <span *ngIf="isBigScreen">Rechazar</span>
        </button>

        <button
          mat-flat-button color="accent"
          (click)="approveContract(contract)"
        >
          <fa-icon [icon]="faApprove" size="1x"></fa-icon>
          <span *ngIf="isBigScreen">Aprobar</span>
        </button>

      </div>

    </div>


    <span *ngIf="contracts.length === 0">

      <h1>No hay contratos disponibles</h1>

    </span>

  </div>


</div>
