@import "src/scss/vars";

div.container-box {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  color: white;

  div.header {

    display: flex;
    align-items: center;

    width: 100%;
    min-height: 100px;
    background-color: $omics-background-button;

    div.header-container {

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;

      padding: 0em 2em;

    }

    div.date-range {
      display: flex;
      flex-direction: row;
    }

    div.button-action {

      display: flex;

      // Pantalla grande
      @media screen and (min-width: $break-small) {
        justify-content: flex-end;
      }

      // Pantalla chica
      @media screen and (max-width: $break-small) {
        justify-content: center;
        margin: 1em 0em;
      }

    }

    div.selector-type {

      display: flex;
      flex-direction: row;

      // Pantalla chica
      @media screen and (max-width: $break-small) {
        min-width: 100%;
        justify-content: center;
        margin: 1em 0em;
      }

      div.box-type {

        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0em 2em;
        padding: 0.5em 1em;

        font-weight: bold;
        font-size: 12pt;
        color: $omics-background-flat;

        background-color: white;

      }

    }
  }

  div.body {

    margin: 0em 2em;
    padding-top: 2em;
    overflow-y: auto;

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    div.publication-box {

      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      margin: 1em 1em;

      div.action-button-publication {

        display: flex;
        flex-direction: row;
        justify-content: space-around;

        padding: 1em 0em 1em 0em;

        border-style: solid;
        border-width: 2px;
        border-color: $omics-background-menu;

        button {
          flex: 1;

          // Pantalla grande
          @media screen and (min-width: $break-small) {
            margin: 0em 1em;
          }

          // Pantalla chica
          @media screen and (max-width: $break-small) {
            margin: 0em 0.5em;
          }

          span {
            margin-left: 0.25em;
          }

        }

      }

    }

  }

}


// Generales
button.button-white-borders {

  color: white;
  border-color: white;

  &.rounded {
    border-radius: 12px;
  }

  &.border-wide {
    border-width: medium;
  }

  &.neon-shadow-hover:hover {
    box-shadow: 0px 0px 10px 4px $omics-neon-pink;
  }

}

button.mat-flat-button {
  &:hover{
    box-shadow: inset 0px 0px 0px 2px white;
  }
}
