<!-- Header toolbar -->
<mat-toolbar color="primary">

  <!-- Burguer menu -->
  <div class="left">

    <button mat-icon-button class="button-no-borders"
            (click)="toggleSideNavMainMenu()">
        <fa-icon [icon]="faBars" size="2x"></fa-icon>
    </button>

  </div>

  <!-- Title -->
  <div class="image-box center">

    <button mat-button (click)="goToPage('home')">
      <img src="assets/images/omics-logo-sin-subtitulo.png" alt="omics-logo">
    </button>

  </div>

  <!-- User menu buttons -->
  <div class="rigth">

    <!-- Sin acceso -->
    <span *ngIf="!isAccessUserLogIn">

      <!-- Ingresar -->
      <button mat-stroked-button class="button-white-borders"
              (click)="openLoginRegisterDialog()">
        Ingresar / Registrarse
      </button>

    </span>

    <!-- Con acceso -->
    <span *ngIf="isAccessUserLogIn" style="display: flex; align-items: center;">

      <!-- Notificaciones -->
      <button mat-icon-button class="button-no-borders"
              [matBadge]="notificationUnreadTotal"
              matBadgeOverlap="true"
              matBadgeColor="accent"
              [matBadgeHidden]="notificationUnreadTotal === 0"
              *ngIf="can(userData, 'get_notifications')"
              (click)="showNotifications()">
        <fa-icon
          [style.color]=" (notificationUnreadTotal === 0) ? 'white' : '#69F0AE'"
          [icon]="faBell"
          size="2x">
        </fa-icon>
      </button>

      <div *ngIf="userData" class="user">
        <span class="username">{{userData.username}}</span>
        <span *ngIf="userData.name && userData.lastname" class="name">{{userData.name}} {{userData.lastname}}</span>
        <span *ngIf="userData.role" class="role">{{userData.role.name}}</span>
      </div>

      <!-- Botón perfil usuario -->
      <button mat-icon-button
            (click)="toggleSideNavUserMenu()">

        <!-- sin imagen de avatar -->
        <span *ngIf="!userAvatar">
          <img  src="assets/images/generic/avatar196x196.jpg"
                alt="omics-avatar-profile"
                class="avatar">
        </span>

        <!-- con imagen de avatar -->
        <span *ngIf="userAvatar">
          <img  [src]="userAvatar"
                alt="omics-avatar-profile"
                class="avatar">
        </span>

      </button>

    </span>

  </div>


</mat-toolbar>
