<!-- Header toolbar -->
<mat-toolbar color="primary">

  <!-- Burguer menu -->
  <button mat-icon-button class="button-no-borders"
          (click)="toggleSideNavMenu()">
      <fa-icon [icon]="faBars" size="2x"></fa-icon>
  </button>

  <!-- Title -->
  <div class="image-box">
    <button mat-button (click)="goToPage('home')">
    <img src="assets/images/omics-logo-sin-subtitulo.png" alt="omics-logo">
  </button>
  </div>

  <!-- User menu buttons -->

  <!-- Ingresar -->
  <button *ngIf="!isAccessUserLogIn"
          mat-stroked-button class="button-white-borders"
          (click)="openLoginRegisterDialog()">
    Ingresar / Registrarse
  </button>

  <!--- Salir -->
  <button *ngIf="isAccessUserLogIn"
          mat-stroked-button class="button-white-borders"
          (click)="logout()">
      Log Out
  </button>


</mat-toolbar>
