@import "src/scss/vars";

div.deskboard-body {
  display: flex;
  flex-direction: row;

  height: calc(100vh - 4.6em);

  div.side {
    flex: 1;

    background-image: url('/assets/images/banners/rightBanner.jpg');
    opacity: 0.25;

  }

  div.center {

    flex: 4;
    min-width: 768px;

    display: flex;
    flex-direction: column;

    padding: 0px;

    color: white;
    background-color: $omics-background-button;
    box-shadow: 0px 22px 15px 8px $omics-neon-pink;

    div.header {

      min-height: 70px;
      background-color: $omics-background-flat;
      padding: 0.25em 1em;

      display: flex;
      align-items: center;

      h1 {
        font-style: italic;
        font-weight: bolder;
        margin: 0px;
      }

    }

  }

}


// Generales
button.button-white-borders {

  color: white;
  border-color: white;

}
