<div class="deskboard-body">

  <div class="side"></div>

  <div class="center">

    <div class="header">

      <button mat-stroked-button class="button-white-borders"
              (click)="backToDeskboard()">
          Cancelar
      </button>

      <button mat-stroked-button class="button-white-borders" style="background-color: gray;"
              (click)="guardarBorrador()">
          Guardar Borrador
      </button>

      <button mat-flat-button color="accent"  class="button-white-borders"
              (click)="submitPublication()">
          Publicar
      </button>


    </div>

    <div class="body">

      <form autocomplete="off" [formGroup]="formPublication">

        <!-- Block: Portada publicación, campo nombre y colección -->
        <div class="row" style="width: 100%;">

          <!-- Portada -->
          <div class="image-field" style="flex: 1">

            <div  class="image-button portada border-pink-glow"
                  matRipple
                  [ngClass]="{'no-image': !portadaImage}"
                  [matRippleCentered]="ripplePortadaEnable"
                  (click)="uploadImagePortada()">


              <span *ngIf="!portadaImage" class="text">Subir imagen de Portada</span>
              <img  *ngIf="portadaImage" [src]="portadaImage" alt="Thumbail image">

            </div>
          </div>

          <!-- Block campo nombre y colección -->
          <div class="align-center" style="padding: 0px; flex: 3; width: 100%; margin: 0em 1em">

            <!-- Block: campo nombre -->
            <div class="input-field-row">

              <div class="title-and-error">
              <p class="field-name">Título: </p>

              <!-- mensaje de error -->
              <p  *ngIf="nombreNovalido"
                  class="form-text text-danger">
                  Ingrese un título válido
              </p>
              </div>

              <!-- Input text -->
              <input class="form-control"
                      type="text"
                      placeholder="Título"
                      formControlName="name"
                      [class.is-invalid]="nombreNovalido">


            </div>

            <br>

            <!-- Block: colección -->
            <div class="input-field-row">

              <div class="title-and-error" >
              <p class="field-name">Colección: </p>
              </div>

              <div  class="d-inline-block"
                    ngbDropdown
                    #dropdownColection="ngbDropdown">

                <button class="btn button-white-borders hover-white mr-2"
                        id="dropdown-colection" ngbDropdownAnchor
                        (focus)="dropdownColection.open();">
                          Lista de colecciones disponibles
                </button>

                <div ngbDropdownMenu aria-labelledby="dropdown-colection">

                  <ul>
                    <!-- Sin colección (deseleccionar los checkbox) -->
                    <li style="width: 100%; padding-left: 1em;">

                      <mat-radio-button color="primary"
                                        [checked]="isNotCheckedAllCollection()"
                                        (change)="onRadioChangeCollection()">
                        Sin colección asignada
                      </mat-radio-button>
                      <hr>

                    </li>

                    <!-- Opciones múltiples -->
                    <li style="width: 100%; padding-left: 1em;"
                        *ngFor="let collection of collectionList">

                      <mat-checkbox color="primary"
                                    [value]="collection.valueId"
                                    [checked]="isCheckedCollectionItem(collection)"
                                    (click)="$event.stopPropagation()"
                                    (change)="onCheckboxChangeCollection($event.source);">
                        {{ collection.name }}
                      </mat-checkbox>

                    </li>
                  </ul>

                </div>

              </div>

            </div>

          </div>

        </div >

        <!-- Block: Categoria y tags-->
        <br>
        <div class="row">

          <!-- Categoria -->
          <div class="col-md-12 col-lg-6"  style="margin-bottom: 1em">

            <div class="input-field-row">

              <div class="title-and-error" >
              <p class="field-name">Categoría: </p>
              </div>

              <div  class="d-inline-block"
                    ngbDropdown
                    #dropdownCategory="ngbDropdown">

                <button class="btn button-white-borders hover-white mr-2"
                        id="dropdown-colection" ngbDropdownAnchor
                        (focus)="dropdownCategory.open();">
                          Lista de categorías disponibles
                </button>

                <div ngbDropdownMenu aria-labelledby="dropdown-colection">

                  <!-- Opciones únicas -->
                  <mat-radio-group formControlName="category_id">
                  <ul>
                    <li style="width: 100%; padding-left: 1em;"
                        *ngFor="let category of categoryList">

                      <mat-radio-button color="primary"
                                    [value]="category.valueId">
                        {{ category.name }}
                      </mat-radio-button>

                    </li>
                  </ul>
                </mat-radio-group>

                </div>

              </div>

            </div>

          </div>

          <!-- Tags -->
          <div class="col-md-12 col-lg-6">Block:  Tags </div>

        </div>

        <!-- Block: Descripción -->
        <div class="row">

          <div class="col-12">Block: Descripción</div>

        </div>

        <!-- Block: Subir páginas -->
        <div class="row">

          <div class="col-12">Block: Subir páginas</div>

        </div>

      </form>

    </div>

  </div>

  <div class="side"></div>

</div>
