@import "src/scss/vars";

div.mis-comics-container {

  display: flex;
  flex-direction: column;
  padding: 0em 1em;

  div.top-menu {

    display: flex;
    justify-content: space-around;

    margin-top: 1em;
    padding: 0.5em 0.5em;

  }

  div.card-container {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .card-box {

      margin: 1em 1em;

    }


  }

}



// Generales
button.button-white-borders {

  color: white;
  border-color: white;

  &.pink-hover:hover {
    font-weight: bold;
    color: $omics-neon-pink;
    border-color: $omics-neon-pink;
    background-color: rgba($color: $omics-background-flat, $alpha: 0.5);
  }

}

hr {
  color: white;
  width: 100%;
  border-style: solid;
  border-width: 1px;
}
