ENV=development
SERVER_PORT=3000
WEB_PORT=4000

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET=
AWS_REGION=

SMTP_SERVER=
SMTP_EMAIL=
SMTP_PASSWORD=
SMTP_PORT=

POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USERNAME=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=
