<div class="wallet-container">

  <div style="display: flex; justify-content: center;">
    <button mat-flat-button
            color="primary"
            class="button-white-borders"
            (click)="onMedioCobro()">
          Medio de Cobro
    </button>
  </div>

  <span *ngIf="contracts.length > 0">

    <h1>Contratos</h1>

    <div class="contract" *ngFor="let contract of contracts">
      <h2>{{contract.publication.name}}</h2>

      <h3>Resúmenes</h3>
      <div class="summaries">
        <table>
          <tr>
            <th>Visualizaciones</th>
            <th>Lecturas</th>
            <th>Likes</th>
            <th>Calificaciones</th>
            <th>Monto</th>
            <th>Desde</th>
            <th>Hasta</th>
            <th>Pagado</th>
          </tr>
          <tr *ngFor="let summary of contract.summaries">
            <td>{{summary.statistics.views}}</td>
            <td>{{summary.statistics.readings}}</td>
            <td>{{summary.statistics.likes}}</td>
            <td>{{summary.statistics.stars.toFixed(2)}}</td>
            <td>$ {{summary.amount.toFixed(2)}}</td>
            <td>{{summary.from | date: 'shortDate' | date: 'dd/MM/yyyy'}}</td>
            <td>{{summary.to | date: 'shortDate' | date: 'dd/MM/yyyy'}}</td>
            <td>{{summary.paid ? 'Sí' : 'No'}}</td>
          </tr>
        </table>
      </div>

      <h3>Pagos</h3>

      <div class="payments">
        <table>
          <tr>
            <th>Monto</th>
            <th>Fecha</th>
          </tr>
          <tr *ngFor="let payment of contract.payments">
            <td>$ {{payment.amount.toFixed(2)}}</td>
            <td>{{payment.datetime | date: 'shortDate' | date: 'dd/MM/yyyy'}}</td>
          </tr>
        </table>
      </div>

      <div style="display: flex; justify-content: center; margin-bottom: 1em;">
        <div class="totals">
          <div class="total">
            <h4>Total</h4>
            <p style="color: #00afef;">$ {{totalAmount(contract).toFixed(2)}}</p>
          </div>
          <div class="total">
            <h4>Pagado</h4>
            <p style="color: #caba6f;">$ {{paidAmount(contract).toFixed(2)}}</p>
          </div>
          <div class="total">
            <h4>Por cobrar</h4>
            <p style="color: #46b194;">$ {{chargeAmount(contract).toFixed(2)}}</p>
          </div>
        </div>
      </div>


      <div style="display: flex; justify-content: center;">
          <button mat-flat-button
                  color="warn"
                  class="button-white-borders"
                  style="margin: 1em"
                  (click)="onRescindirContrato(contract)">
            Rescindir contrato
          </button>

          <button mat-flat-button
                  color="primary"
                  class="button-white-borders"
                  style="margin: 1em"
                  (click)="generateSummaries(contract)">
            Actualizar resúmenes
          </button>

          <button mat-flat-button
                  color="accent"
                  class="button-white-borders"
                  style="margin: 1em"
                  [disabled]="!canCharge(contract)"
                  (click)="charge(contract)">
            Cobrar
          </button>

      </div>

    </div>

  </span>

  <span *ngIf="contracts.length === 0">

    <h1>No hay contratos disponibles</h1>

  </span>

</div>


<swal #confirmRescindirContrato
  title="Datos incompletos o erroneos"
  text="Complete correctamente los datos necesarios"
  icon="error"
  [focusConfirm]="true">
</swal>
