<div class="menu-box">

  <div class="header">

    <!-- Volver -->
    <button mat-icon-button (click)="closeSideNavMenu()">
      <fa-icon [icon]="faBack" size="2x"></fa-icon>
    </button>

    <!-- Menu cabecera -->
    <button *ngIf="!isAccessUserLogIn"
            mat-stroked-button class="button-white-borders"
            (click)="openRegisterLoginDialog()">
      ¡Comienza a ser parte de Omics!
    </button>

    <!-- Rol de usuario -->
    <span *ngIf="isAccessUserLogIn && userData">
      <div *ngIf="userData" class="user" style="margin-right: 0.75em;">
        <span class="username">{{userData.username}}</span>
        <span *ngIf="userData.name && userData.lastname" class="name">{{userData.name}} {{userData.lastname}}</span>
        <span *ngIf="userData.role" class="role">{{userData.role.name}}</span>
      </div>
    </span>

  </div>

  <!-- Lista menu opciones -->
  <div class="body">

    <!-- Admin Options -->
    <div  *ngIf="isAccessUserLogIn && userData"
          class="menu-admin dir-column">

      <button *ngIf="can(userData, 'generate_report')"
              mat-stroked-button class="button-white-borders admin-button"
              [ngClass]="{'active': ( activePathSelected === 'dashboard-reportes' ) }"
              (click)="goToPage('dashboard-reportes')">
              Reportes
      </button>

      <button *ngIf="canAny(userData, 'approve_reject_publication', 'approve_reject_contract')"
              mat-stroked-button
              class="button-white-borders admin-button"
              [ngClass]="{'active': ( activePathSelected === 'dashboard-publicaciones-contratos' ) }"
              (click)="goToPage('dashboard-publicaciones-contratos')">
              Gestionar Publicaciones y Contratos
      </button>

      <button *ngIf="can(userData, 'change_business_rules')"
              mat-stroked-button class="button-white-borders admin-button"
              [ngClass]="{'active': ( activePathSelected === 'dashboard-reglas-negocio' ) }"
              (click)="goToPage('dashboard-reglas-negocio')">
              Gestionar Reglas de Negocio
      </button>

      <button *ngIf="canAny(userData, 'create_category', 'update_category', 'delete_category')"
              mat-stroked-button class="button-white-borders admin-button"
              [ngClass]="{'active': ( activePathSelected === 'dashboard-general' ) }"
              (click)="goToPage('dashboard-general')">
              Gestionar Categorías
      </button>

      <button *ngIf="canAny(userData, 'get_any_role', 'get_any_user')"
              mat-stroked-button class="button-white-borders admin-button"
              [ngClass]="{'active': ( activePathSelected === 'dashboard-roles' ) }"
              (click)="goToPage('dashboard-roles')">
              Gestionar usuarios y roles
      </button>

    </div>

    <!-- User Options -->
    <div class="menu-user dir-column">

      <button *ngIf="can(userData, 'get_reader_favorites')"
              mat-stroked-button class="button-white-borders user-button"
              [ngClass]="{'active': ( activePathSelected === 'favorites' ) }"
              (click)="goToPage('favorites')">
        Favoritos
      </button>

      <button mat-stroked-button class="button-white-borders user-button"
              [ngClass]="{'active': ( activePathSelected === 'catalogue' ) }"
              (click)="goToPage('catalogue')">
        Biblioteca
      </button>

      <button *ngIf="canAny(
                userData,
                'create_publication',
                'update_publication',
                'delete_publication',
                'publish_publication',
                'cancel_contract',
                'charge_for_contract',
                'generate_summaries_for_contract',
                'get_own_contract',
                'request_contract',
                'charge_donations'
              )"
              mat-stroked-button class="button-white-borders user-button"
              [ngClass]="{'active': ( activePathSelected === 'deskboard' ) }"
              (click)="goToPage('deskboard')">
        Deskboard
      </button>

      <button mat-stroked-button class="button-white-borders user-button"
              [ngClass]="{'active': ( activePathSelected === 'authors' ) }"
              (click)="goToPage('authors')">
        Autores
      </button>

      <button mat-stroked-button class="button-white-borders user-button"
              [ngClass]="{'active': ( activePathSelected === 'about' ) }"
              (click)="goToPage('about')">
        Sobre Omics
      </button>

    </div>

  </div>

</div>
