
<div class="perfil-editar-body">

    <div class="side"></div>

    <div class="center">

      <form autocomplete="on" [formGroup]="formProfile" *ngIf="this.userData" >

        <span style="display: flex; flex-direction: column; height: 100%;">

          <div class="header">

            <div class="header-items">

              <h1 class="profile-name">{{ this.userData.username | uppercase }}</h1>

            </div>

            <!-- #region Imagen avatar perfil-->
            <div  class="avatar-edit"
                  (click)="uploadImageAvatar()">

              <fa-icon [icon]="faEditField" size="2x"></fa-icon>

              <img  *ngIf="!isProfileAvatarImageExists"
                    src="assets/images/generic/avatar196x196.jpg"
                    alt="omics-avatar-profile"
                    class="avatar">

              <img  *ngIf="isProfileAvatarImageExists"
                    [src]="profileAvatarImage"
                    alt="omics-avatar-profile"
                    class="avatar">

            </div>
            <!-- #endregion -->

          </div>

          <div class="body">

            <div class="button-actions">

              <button mat-flat-button
                      color="accent"
                      class="button-white-borders"
                      (click)="onGuardarCambios()">
                Guardar Cambios
              </button>

              <button mat-flat-button
                      color="primary"
                      class="button-white-borders"
                      (click)="onSuscribirse()">
                Suscribirse
              </button>

              <button mat-flat-button
                      color="primary"
                      class="button-white-borders"
                      (click)="onMedioCobro()">
                Medio de Cobro
              </button>


            </div>

            <!-- Apellido y nombre -->
            <div class="box-row">

              <!-- Block: campo nombre -->
              <div class="block-field">

                <div class="input-field-row">

                <div class="title-and-error">
                  <p class="field-name">Nombre: </p>

                  <!-- mensaje de error -->
                  <p  *ngIf="nombreNovalido"
                      class="form-text text-danger">
                      Ingrese un nombre de al menos 2 caracteres
                  </p>
                </div>

                </div>

                <!-- Input text -->
                <input  class="form-control"
                        type="text"
                        placeholder="Nombre"
                        formControlName="name"
                        [class.is-invalid]="nombreNovalido">


              </div>

              <!-- Block: campo apellido -->
              <div class="block-field">

                <div class="input-field-row">

                <div class="title-and-error">
                  <p class="field-name">Apellido: </p>

                  <!-- mensaje de error -->
                  <p  *ngIf="apellidoNovalido"
                      class="form-text text-danger">
                      Ingrese un apellido de al menos 2 caracteres
                  </p>

                </div>

                </div>

                <!-- Input text -->
                <input class="form-control"
                        type="text"
                        placeholder="Apellido"
                        formControlName="lastname"
                        [class.is-invalid]="apellidoNovalido">


              </div>

            </div>

            <!-- Email -->
            <div class="box-row">

              <!-- Block: campo email -->
              <div class="block-field">

                <div class="input-field-row">

                  <div class="title-and-error">
                    <p class="field-name">Correro: </p>

                    <!-- mensaje de error -->
                    <p  *ngIf="correoNovalido"
                        class="form-text text-danger">
                        Ingrese un correo válido
                    </p>
                  </div>

                </div>

                <!-- Input text -->
                <input  class="form-control"
                        type="email"
                        placeholder="Correo electrónico"
                        formControlName="email"
                        [class.is-invalid]="correoNovalido">


              </div>

              <!-- Block: espacio auxiliar -->
              <div class="block-field">
              </div>

            </div>

            <!-- Biografía -->
            <div class="box-row">

                <div class="block-field">

                  <div class="input-field-row">

                    <div class="title-and-error">
                      <p class="field-name">Descripción: </p>

                      <!-- mensaje de error -->
                      <p  *ngIf="biografiaNovalido"
                          class="form-text text-danger">
                          Requiere que sea menos de 256 caracteres.
                      </p>
                    </div>

                  </div>

                  <mat-form-field appearance="fill" class="text-area">
                    <mat-label>{{ biografiaLenght }} / 256</mat-label>
                    <textarea matInput
                              formControlName="biography"></textarea>
                  </mat-form-field>

                </div>

            </div>

            <!-- Genero -->
            <div class="box-row">

              <div class="block-field">

                <div class="input-field-row">

                  <div class="title-and-error">
                    <p class="field-name">Género: </p>
                  </div>

                </div>

                <mat-radio-group formControlName="gender">
                  <mat-radio-button *ngFor="let genero of generosList"
                                    color="primary"
                                    [value]="genero.value">
                    {{ genero.name }}
                  </mat-radio-button>
                </mat-radio-group>


              </div>

            </div>

            <!-- Fecha Nacimiento -->
            <div class="box-row">

              <div class="block-field">

                <div class="input-field-row">

                  <div class="title-and-error">
                    <p class="field-name">Fecha de Nacimiento: </p>
                  </div>

                </div>

                <mat-form-field appearance="fill" class="matDate">
                  <mat-label>Slecciona una fecha</mat-label>
                  <input  matInput
                          [max]="maxDateBirthday"
                          [matDatepicker]="picker"
                          formControlName="birthdate"
                          (dateChange)="convertDateToRFC3339($event.value)">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

              </div>

              <!-- Block: cambiar contraseña -->
              <div class="block-field" style="justify-content: center;">

                <button mat-flat-button
                        color="primary"
                        class="button-white-borders"
                        (click)="onChangePassword()">
                  Cambiar contraseña
                </button>

              </div>


            </div>

          </div>


          <!-- Eliminar cuenta -->
          <div style="display: flex; justify-content: center; margin-bottom: 1em;">
            <button mat-flat-button color="warn"
                    class="button-white-borders"
                    style="width: 50%;"
                    (click)="onEliminarCuenta()">
              Eliminar Cuenta
            </button>
          </div>

        </span>

      </form>

    </div>

    <div class="side"></div>

</div>

<!-- Swal Message -->
<swal #swalDataInvalid
  title="Datos incompletos o erroneos"
  text="Complete correctamente los datos necesarios"
  icon="error"
  [focusConfirm]="true">
</swal>


<!-- Confirm Delete Account -->
<swal #swalDeleteAccount icon="info"
      title="¿Estas seguro que deseas eliminar tu cuenta?"
      [showConfirmButton]="false"
      [showCloseButton]="true"
      (close)="formDeleteAccount.reset()">

      <form *swalPortal [formGroup]="formDeleteAccount">

        <!-- Mensaje de alerta -->
        <div class="alert alert-danger">
          <small>Tus obras, datos y publicación dejarán de ser visibles en la plataforma.</small>
        </div>

        <div class="alert alert-info">
          <small>Ingresar contraseña para confirmar.</small>
        </div>

        <!-- Contraseña ingresar para eliminar -->
        <div class="block-field" style="margin: 0em;">

          <div class="input-field-row">

          <div class="title-and-error">
            <p class="field-name">Contraseña: </p>

          </div>

          </div>

          <!-- Input text -->
          <div class="input-with-icon">
            <input  class="form-control"
                    [type]="passwordProperties.type"
                    placeholder="Contraseña"
                    formControlName="password">

            <fa-icon  class="button"
                      (click)="showPassword( passwordProperties.visible )"
                      [icon]="(passwordProperties.visible) ? faEyeSlash : faEyeOpen"
                      size="1x">
            </fa-icon>
          </div>


        </div>

        <!-- Botón confirmar eliminar cuenta -->
        <div style="display: flex; justify-content: center; margin: 1em;">
          <button mat-flat-button color="warn"
                  class="button-white-borders"
                  style="width: 50%;"
                  [disabled]="formDeleteAccount.invalid"
                  (click)="eliminarCuentaConfirm()">
            Confirmar Eliminar Cuenta
          </button>
        </div>

      </form>


</swal>
