@import "src/scss/vars";

div.page {

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: calc(100vh - 4.6em);

  background-color: rgba(0, 0, 0, 0.25);

  div.body-page {

    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex: 15;

    span {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    img {

      width: auto;
      height: 100%;

    }

  }

  div.footer-page {

    flex: 1;
    background-color: $omics-background-menu;

    color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0.25em 1em;

    .title {
      margin: 0px;
    }

    .bottom-nav {

      display: flex;
      justify-content: space-around;
      align-items: center;


    }

    .option-menu {

      display: flex;
      justify-content: flex-end;
      align-items: center;

      button {
        margin: 0em 1em;
      }

    }

  }


}


// General
button {

  color: white;
  height: 75%;
  margin: 0em 0.5em;

  &:focus {
    outline: none;
  }


  fa-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      color: $omics-neon-pink;
    }

  }

}
