<div class="page" *ngIf="publicationToShow">


  <div class="body-page">

    <span *ngIf="!pagesList">
      <img src="https://via.placeholder.com/663x1024.jpg" alt="test-image">
    </span>

    <span *ngIf="pagesList">
      <img [src]="pageToShow" alt="test-image">
    </span>

  </div>



  <div class="footer-page">

    <h2 class="title" style="flex: 1">
      {{ publicationToShow.name }}
    </h2>

    <div class="bottom-nav" style="flex: 1">


      <!-- Ir a página anterior -->
      <button mat-icon-button  (click)="setCurrentPage( pageCurrent - 1 )">
        <fa-icon [icon]="faLeft" size="2x"></fa-icon>
      </button>

      <!-- Indicador de página -->
      <h2 style="margin: 0;">
       {{ pageCurrent + 1 }} / {{ pagesTotal }}
      </h2>

      <!-- Ir a página siguiente -->
      <button mat-icon-button  (click)="setCurrentPage( pageCurrent + 1 )">
        <fa-icon [icon]="faRight" size="2x"></fa-icon>
      </button>

    </div>

    <div class="option-menu" style="flex: 1">

      <!-- Favorito -->
      <button *ngIf="readerInfo"
              mat-icon-button (click)="onFavorito()">
        <fa-icon  [icon]="faFavorito" size="2x"
                  [ngClass]="{'selected': readerInfo.in_favorites}"></fa-icon>
      </button>

      <!-- Like -->
      <button *ngIf="readerInfo"
              mat-icon-button (click)="onLike()">
        <fa-icon  [icon]="faLike" size="2x"
                  [ngClass]="{'selected': readerInfo.liked}"></fa-icon>
      </button>

      <!-- Info -->
      <button mat-icon-button (click)="onInfo()">
        <fa-icon [icon]="faInfo" size="2x"></fa-icon>
      </button>

    </div>

  </div>

</div>
