<div>

  <!-- Cabecera -->
  <div mat-dialog-title >

    <!-- Volver -->
    <div class="button-top-menu">
      <button mat-icon-button mat-dialog-close (click)="closeMatDialog()">
        <fa-icon [icon]="faClose" size="2x"></fa-icon>
      </button>
    </div>

    <!--image -->
    <div class="image-box">
      <img src="assets/images/omics-logo-sin-subtitulo.png" alt="omics-logo">
    </div>

    <br>

    <!-- Title Panel -->
    <div class="title-panel">
      <h2>Recuperar Contraseña</h2>
    </div>

  </div>

  <!-- Body -->
  <mat-dialog-content class="mat-typography body">

    <p class="break-word">
      Se le enviará un enlace a su correo para restaurar su contraseña.
      Su IP puede ser almacenada por motivos de seguridad.
    </p>

    <form autocomplete="off" [formGroup]="formPasswordForgot">

        <!-- Correo -->
        <div class="form-group row">
          <div class="col">

            <div class="top-field">
              <small class="form-text text-top">
                Dirección de correo electrónico:
              </small>
              <!-- mensaje de error -->
              <small  *ngIf="correoNovalido"
                      class="form-text text-danger">
                      Ingrese un correo válido
              </small>
            </div>


            <input class="form-control"
                   type="email"
                   placeholder="Correo electrónico"
                   formControlName="correo"
                   [class.is-invalid]="correoNovalido">


          </div>
        </div>

    </form>

  </mat-dialog-content>

  <!-- Bottom Action -->
  <mat-dialog-actions align="center">

    <button mat-icon-button (click)="sendResetPassword()">
      <h2>Reiniciar Contraseña</h2>
      <fa-icon [icon]="faArrowRight" size="2x"></fa-icon>
    </button>

  </mat-dialog-actions>

</div>

<swal #forgotPasswordValid
  title="Correo válido"
  text="Verifique el correo que le hemos enviado para restaurar su contraseña."
  icon="success"
  [focusConfirm]="true"
  (confirm)="closeMatDialog()">
</swal>
