@import "src/scss/vars";

div.deskboard-body {
  display: flex;
  flex-direction: row;

  // Pantalla chica
  @media screen and (min-width: $break-small) {
    min-height: calc(100vh - 4.6em);
  }

  // Pantalla grande
  @media screen and (max-width: $break-small) {
    min-height: 100vh;
  }

  div.side {

    // Mobile size
    @media screen and (min-width: $break-small) {
      flex: 1;
      background-image: url('/assets/images/banners/rightBanner.jpg');
      opacity: 0.25;
    }

  }

  div.center {

    flex: 6;

    display: flex;
    flex-direction: column;

    padding: 0px;

    color: white;
    background-color: $omics-background-button;

    // Mobile size
    @media screen and (min-width: $break-small) {
      box-shadow: 0px 22px 15px 8px $omics-neon-pink;
    }

    div.header {

      min-height: 70px;
      background-color: $omics-background-flat;
      padding: 0.25em 1em;

      display: flex;
      align-items: center;
      justify-content: space-between;

      h1 {
        font-style: italic;
        font-weight: bolder;
        margin: 0px;
      }

      h2 {
        margin: 0px;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
          cursor: pointer;
          font-weight: bold;
        }

      }

    }

    div.box-type {

      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0.5em 1em;

      font-weight: bold;
      font-size: 12pt;
      color: $omics-background-flat;

      background-color: white;

    }


    div.menu {

      min-height: 70px;
      background-color: $omics-background-menu;
      padding: 0.25em 0.5em;

      display: flex;
      justify-content: center;

    }


  }

}


// Generales
button.button-white-borders {

  color: white;

  // Pantalla grande
  @media screen and (min-width: $break-small) {
    border-color: white;
  }

  &.pink-hover:hover {

    background-color: rgba($color: $omics-background-flat, $alpha: 0.2);
    color: $omics-neon-pink;

    // Pantalla grande
    @media screen and (min-width: $break-small) {
      border-color: $omics-neon-pink;
    }

  }

  &.current-menu {

    color: $omics-neon-pink;

    // Pantalla grande
    @media screen and (min-width: $break-small) {
      border-color: $omics-neon-pink;
    }

  }

  &.top-menu {

    flex: 1;

    // Pantalla grande
    @media screen and (min-width: $break-small) {
      margin: 0.5em 1em;
    }

    // Pantalla chica
    @media screen and (max-width: $break-small) {
      border: none;
    }


  }


}
