<div class="card-box" *ngIf="publication">


  <!-- Cover thumbail -->
  <div class="left">
    <img [src]="publication.cover" alt="Thumbail image" >

    <div  *ngIf="statusToShow.title != '' "
          class="status-box"
          [ngClass]="( statusToShow.index == 0) ? 'waiting' : ( (statusToShow.index == 1)? 'rejected' :  ( (statusToShow.index == 2)? 'published' : 'draft') )"
          (click)="showStatusMsg()">
      {{ statusToShow.title }}
    </div>

  </div>

  <!-- Info -->
  <div class="right">

    <h3>{{publication.name | truncateString: 32: false }}</h3>

    <div style="display: flex; flex-direction: column;">
      <small>Fecha creación:</small>
      <p>{{publication.created_at | date: 'shortDate' | date: 'dd/MM/yyyy' }}</p>
    </div>

    <div style="display: flex;">

      <!-- Edit -->
      <button mat-icon-button (click)="goToEdit()" class="option-item"
              *ngIf="can(userData, 'update_publication')">
        <fa-icon [icon]="faEdit" size="2x"></fa-icon>
      </button>

      <!-- Detalles -->
      <button mat-icon-button (click)="onOpenInfo()" class="option-item">
        <fa-icon [icon]="faInfo" size="2x"></fa-icon>
      </button>

      <!-- Contrato -->
      <button *ngIf="can(userData, 'get_own_contract') && publication.contract" mat-icon-button (click)="onOpenInfo()" class="option-item">
        <fa-icon [icon]="faDollarSign" size="2x"></fa-icon>
      </button>

    </div>

  </div>


</div>
