<div class="parent">

  <div class="side"></div>

  <div class="center">

    <div class="header">

      <h1>REPORTES</h1>

      <!-- Rango fechas reporte -->

      <form class="date-filter"  [formGroup]="formReport">
        <h2 style="text-align: center; margin: 0">Rango fechas: </h2>

        <div style="display: flex;">

          <!-- Fecha desde -->
          <mat-form-field appearance="fill" class="matDate">
            <mat-label>Desde...</mat-label>
            <input  matInput
                    [max]="maxDateToSearch"
                    [matDatepicker]="pickerFrom"
                    formControlName="dateFrom"
                    (dateChange)="convertDateToRFC3339($event.value, 'dateFrom')">
            <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
            <mat-datepicker #pickerFrom></mat-datepicker>
          </mat-form-field>

          <!-- Fecha hasta -->
          <mat-form-field appearance="fill" class="matDate">
            <mat-label>...Hasta</mat-label>
            <input  matInput
                    [max]="maxDateToSearch"
                    [matDatepicker]="pickerTo"
                    formControlName="dateTo"
                    (dateChange)="convertDateToRFC3339($event.value, 'dateTo')">
            <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
            <mat-datepicker #pickerTo></mat-datepicker>
          </mat-form-field>

        </div>

      </form>


      <!-- Generar -->
      <button mat-flat-button class="button-white-borders"
              color="primary"
              style="padding-top: 0.25em;"
              (click)="generateChartsData()">
        <fa-icon [icon]="faChart" size="2x" style="margin-right: 0.5em"></fa-icon>
        Generar reporte
      </button>

    </div>

    <div class="body">

      <div class="export-buttons">

        <button mat-flat-button class="button-white-borders"
                color="primary"
                style="padding-top: 0.25em;"
                (click)="onExportar('pdf')">

          <fa-icon [icon]="faPDF" size="2x" style="margin-right: 0.5em"></fa-icon>
          Exportar a PDF

        </button>

        <!-- <button mat-flat-button class="button-white-borders"
                color="primary"
                style="padding-top: 0.25em;"
                (click)="onExportar('pdf')">

          <fa-icon [icon]="faCSV" size="2x" style="margin-right: 0.5em"></fa-icon>
          Exportar a CSV

        </button> -->


      </div>

      <div class="charts-list" *ngIf="report">

        <!-- Publicaciones -->
        <div class="chart-set">
          <div class="chart-header-group">
            <h1 class="title">Publicaciones </h1>
            <h1 class="number">(Total: {{ report.publications.total }})</h1>
          </div>

          <!-- Por categoria y estado -->
          <div class="chart-group-row">
            <div class="chart">
              <h2>Por categoría:</h2>
              <canvas baseChart
                [data]="chartPiePublicationByCategory.values"
                [labels]="chartPiePublicationByCategory.labels"
                [chartType]="chartPiePublicationByCategory.type"
                [options]="chartPiePublicationByCategory.options"
                [plugins]="chartPiePublicationByCategory.plugins"
                [legend]="chartPiePublicationByCategory.legend">
              </canvas>
            </div>

            <div class="chart">
              <h2>Por estado:</h2>
              <canvas baseChart
                [data]="chartPiePublicationByStatus.values"
                [labels]="chartPiePublicationByStatus.labels"
                [chartType]="chartPiePublicationByStatus.type"
                [options]="chartPiePublicationByStatus.options"
                [plugins]="chartPiePublicationByStatus.plugins"
                [legend]="chartPiePublicationByStatus.legend">
              </canvas>
            </div>

          </div>

          <!-- Por contrato -->
          <div class="chart-group-row">

            <div class="chart hide-small" style="flex: 0.5"></div>

            <div class="chart">
              <h2>Por Contrato:</h2>
              <canvas baseChart
                [data]="chartPiePublicationByContract.values"
                [labels]="chartPiePublicationByContract.labels"
                [chartType]="chartPiePublicationByContract.type"
                [options]="chartPiePublicationByContract.options"
                [plugins]="chartPiePublicationByContract.plugins"
                [legend]="chartPiePublicationByContract.legend">
              </canvas>
            </div>

            <div class="chart hide-small" style="flex: 0.5"></div>

          </div>

        </div>

        <hr>

        <!-- Contratos -->
        <div class="chart-set">
          <div class="chart-header-group">
            <h1 class="title">Contratos </h1>
            <h1 class="number">(Total: {{ report.contracts.total }})</h1>
          </div>

          <!-- Por Total ingresos y rango ingresos -->
          <div class="chart-group-row">
            <div class="chart">
              <mat-card >
                <h2>Pagos totales por contratos:</h2>
                <h1>{{ report.contracts.amount | currency }}</h1>
              </mat-card>
            </div>

            <div class="chart">
              <h2>Por rango ingresos:</h2>
              <canvas baseChart
                [datasets]="chartBarContractByAmount.data"
                [labels]="chartBarContractByAmount.labels"
                [chartType]="chartBarContractByAmount.type"
                [options]="chartBarContractByAmount.options"
                [plugins]="chartBarContractByAmount.plugins"
                [legend]="chartBarContractByAmount.legend">
              </canvas>
            </div>

          </div>

        </div>

        <hr>

        <!-- Usuarios -->
        <div class="chart-set">
          <div class="chart-header-group">
            <h1 class="title">Usuarios </h1>
            <h1 class="number">(Total: {{ report.users.total }})</h1>
          </div>

          <!-- Usuarios activos y genero -->
          <div class="chart-group-row">
            <div class="chart">
              <mat-card >
                <h2>Usuarios activos:</h2>
                <h1>{{ report.users.by_status.active }}</h1>
              </mat-card>
            </div>

            <div class="chart">
              <h2>Por género:</h2>
              <canvas baseChart
                [data]="chartPieUsersByGender.values"
                [labels]="chartPieUsersByGender.labels"
                [chartType]="chartPieUsersByGender.type"
                [options]="chartPieUsersByGender.options"
                [plugins]="chartPieUsersByGender.plugins"
                [legend]="chartPieUsersByGender.legend">
              </canvas>
            </div>

          </div>

          <!-- Por rango de edad -->
          <div class="chart-group-row">

            <div class="chart hide-small" style="flex: 0.5"></div>

            <div class="chart">
              <h2>Por rango edad:</h2>
              <canvas baseChart
                [datasets]="chartBarUsersByAgeRange.data"
                [labels]="chartBarUsersByAgeRange.labels"
                [chartType]="chartBarUsersByAgeRange.type"
                [options]="chartBarUsersByAgeRange.options"
                [plugins]="chartBarUsersByAgeRange.plugins"
                [legend]="chartBarUsersByAgeRange.legend">
              </canvas>
            </div>

            <div class="chart hide-small" style="flex: 0.5"></div>

          </div>
        </div>

        <hr>

        <!-- Ingresos -->
        <div class="chart-set">
          <div class="chart-header-group">
            <h1 class="title">Ingresos </h1>
          </div>

          <!-- Por Total ingreso y egresos -->
          <div class="chart-group-row">
            <div class="chart">
              <mat-card >
                <h2>Total ingresos ($):</h2>
                <h1  style="color: green">{{ report.payments.total_income | currency}}</h1>
              </mat-card>
            </div>

            <div class="chart">
              <mat-card >
                <h2>Total egresos:</h2>
                <h1 style="color: red">{{ report.payments.total_outcome | currency}}</h1>
              </mat-card>
            </div>

          </div>

          <!-- Por Total suscripciones e ingresos por suscripción -->
          <div class="chart-group-row">
            <div class="chart">
              <mat-card >
                <h2>Total suscripciones:</h2>
                <h1>{{ report.subscriptions.total }}</h1>
              </mat-card>
            </div>

            <div class="chart">
              <mat-card >
                <h2>Total ingresos por suscripción:</h2>
                <h1 style="color: green">{{ report.subscriptions.amount | currency}}</h1>
              </mat-card>
            </div>

          </div>

        </div>

        <hr>

      </div>

    </div>

  </div>

  <div class="side"></div>

</div>
