@import "../../../../scss/vars";

.mat-dialog-title {

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  div.button-top-menu {

    display: flex;
    justify-content: flex-end;
    width: 100%;

    button {
      margin: 0px;
    }

  }

  div.image-box {

    width: 160px;

    img {
      width: 100%;
      height: 100%;
    }

  }


}

mat-dialog-actions {

  margin-bottom: 0px;

}


.body {

  min-width: 25em;
  min-height: 25em;
  background-color: white;

  div.panel {

    display: flex;
    flex-direction: column;

    hr {
      width: 90%;
    }
    a {
      text-align: center;
      font-size: 120%;
      color: $omics-background-button;
    }

  }

  form {

    display: flex;
    flex-direction: column;

    div.form-group {

      width: 100%;
      margin: 5px 0px;

    }

    div.top-field {

      display: flex;
      justify-content: space-between;

      .text-top {
        font-weight: bolder;
        color: $omics-background-menu;
      }
    }

    div.input-with-icon {

      display: flex;
      flex-direction: row;

      position: relative;

      input {
        padding-left: 30px;
      }

      fa-icon {
        position: absolute;
        height: 100%;
        left: 6px;
        display: flex;
        align-items: center;
      }

    }

  }

}

fa-icon.button {

  cursor: pointer;

}

button {

  color: white;
  height: 75%;
  margin: 0em 0.5em;

  &:focus {
    outline: none;
  }

  fa-icon {
    display: flex;
    align-items: center;
    justify-content: center;

  }

}

.no-padding-dialog .mat-dialog-container {
  padding: 0;
}

mat-form-field.matDate {

  width: 100%;

  ::ng-deep div.mat-form-field-flex {
    background-color: white;
    color: black;
  }
}
