@import "src/scss/vars";


.publication {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;


  color: white;

  .cover {
    height: 200px;
    width: 200px;
    min-height: 200px;
    min-width: 200px;
    max-height: 200px;
    max-width: 200px;

    position: relative;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    .row-over{
      display: flex;
      justify-content: space-between;
      padding: 0.25em 0.5em;
      position: absolute;
      width: 100%;
      background-color: rgba($color: $omics-background-flat-active, $alpha: 0.6);

      &.top {
        top: 0;
      }

      &.bottom {
        bottom: 0;
      }

    }

  }


  .title {

    width: 100%;
    text-align: center;
    background-color: rgba($color: $omics-background-button, $alpha: 0.6);

    h3 {
      margin: 0px;
      font-weight: 500;
    }

  }

  div.fila {

    display: flex;
    flex-direction: row;

    &.center-align {
      align-items: center;
    }


  }

}
