@import "src/scss/vars";

div.card-box {

  display: flex;
  flex-direction: row;

  border-style: solid;
  border-width: 2px;
  border-color: $omics-background-menu;

  color: white;

  width: 180px;
  height: 180px;
  // position: relative;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

}

.publication {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  // img {
  //   width: 180px;
  //   height: 180px;
  // }

  .cover {
    height: 200px;
    width: 200px;
    min-height: 200px;
    min-width: 200px;
    max-height: 200px;
    max-width: 200px;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .text {
    margin: 0.5rem 0;
    display: flex;
    width: 100%;
    justify-content: space-between;

    .name {
      font-weight: bold;
      color: #fff;
    }

    .views {
      color: #aaa;
    }
  }
}
