<div class="parent">

  <div class="header">

    <h1>Términos y condiciones</h1>

    <div  class="button-top-menu"
          style="flex: 0.5">
      <button mat-icon-button mat-dialog-close (click)="onClose()">
        <fa-icon [icon]="faClose" size="2x"></fa-icon>
      </button>
    </div>

  </div>

  <div class="body">

    <div class="text">

      <!-- #region Convertido de word a HTML con https://word2cleanhtml.com/ -->
      <h2>
        <a name="_Toc57063114">7. T&#233;rminos de Uso de la plataforma</a>
      </h2>
      <p>
          <strong>A) Aceptaci&#243;n de las Condiciones de Uso</strong>
      </p>
      <p>
          OMICS Digital Reader (Sistema L&#237;der de Gesti&#243;n Inteligente
          Digital de C&#243;mics) le presta los servicios en, para, o a trav&#233;s
          del Sitio Web OMICS (en conjunto, el &#8220;Servicio&#8221;) y con matriz
          argentina, a todos los usuarios inscriptos para el uso de las
          funcionalidades que se brindan a trav&#233;s de la misma.
      </p>
      <p>
          Al usar el Sitio Web OMICS y/o usar el Servicio, y/o al hacer clic en un
          bot&#243;n indicando su consentimiento cuando esta opci&#243;n le sea
          proporcionada, el usuario, y en caso de ser Menor, su Representante, acepta
          (1) las Condiciones de Uso de OMICS, (2) la Pol&#237;tica de Privacidad,
          (3) la<a> Pol&#237;tica de la Comunidad y las Directrices de Carga</a>,
          todos los cuales son incorporados en este documento por referencia.
          <a>
              El contrato constituye el acuerdo completo entre la Empresa y el
              usuario. Si no es su voluntad convenir a los t&#233;rminos del
              Contrato, no debe acceder a utilizar los Servicios. Este Contrato
              aplica para todos los usuarios del Servicio, incluyendo usuarios que
              puedan hacer contribuciones al Contenido Digital y/o a las
              Publicaciones de Usuarios. Por favor, lea la totalidad del Contrato,
              seg&#250;n &#233;ste ha sido publicado en el Sitio Web OMICS antes de
              usar el Servicio.
              <br/>
          </a>
      </p>
      <p>
          Adicionalmente, al utilizar el Servicio, el usuario est&#225; sujeto a los
          lineamientos o reglas aplicables a dicho servicio, sus caracter&#237;sticas
          o a las ofertas que se publiquen de tiempo en tiempo. Dichas gu&#237;as o
          reglas se incorporan al presente Contrato por referencia.
      </p>
      <p>
          <strong>B) Cambios a las condiciones de Uso</strong>
      </p>
      <p>
          El equipo Omics puede modificar en cualquier tiempo este Contrato a
          trav&#233;s de la publicaci&#243;n de las versiones modificadas en el Sitio
          Web OMICS. Como usuario acepta que, con dicha publicaci&#243;n, Omics le
          notifica debidamente la modificaci&#243;n correspondiente. Si bien, se hace
          todo lo posible por notificarle cualquier cambio sustancial a este
          Contrato, el usuario debe revisar peri&#243;dicamente la versi&#243;n
          actualizada del<a> Contrato</a> en el sitio web de OMICS.
      </p>
      <p>
          <strong>C) Definiciones</strong>
      </p>
      <p>
          Para efectos de estas Condiciones de Uso de OMICS:
      </p>
      <p>
          * "Contenido Digital" significa los webcomics, y c&#243;mics
          digitalizados, incluyendo las ediciones &#250;nicas y publicaciones
          realizadas, y cualquier otro contenido digital incluido que se ofrezcan en
          el Servicio de la plataforma de Omics.
      </p>
      <p>
          * "Publicaciones de Usuarios" significa que el usuario tiene a
          disposici&#243;n la funcionalidad de publicar en la plataforma de Omics
          contenido que incluya texto, datos, fotograf&#237;as, im&#225;genes,
          informaci&#243;n, y cualquier combinaci&#243;n de dichos elementos.
      </p>
      <p>
          * &#8220;Donaci&#243;n de usuarios&#8221; (ya sean lectores u otros
          autores): son aquellos que pueden realizar una colaboraci&#243;n monetaria
          para generar un beneficio econ&#243;mico a autores e incentivar para que
          crezca su contenido.
      </p>
      <p>
          * &#8220;Suscripci&#243;n&#8221; significa que todos los usuarios con un
          pago m&#237;nimo mensual pueden acceder a la plataforma con el agregado de
          contenido Premium para consumir, con algunas funcionalidades extras para
          que puedan utilizar.
      </p>
      <p>
          * &#8220;Contrato de publicaciones&#8221; significa que una vez que una
          publicaci&#243;n alcanza cierta cantidad de visualizaciones puede solicitar
          un contrato para la misma y de esta forma tener un beneficio econ&#243;mico
          extra para tener m&#225;s ganancias.
      </p>
      <p>
          * Para m&#225;s noticias de la plataforma de c&#243;mics, se puede
          acceder a la red social de Omics. Significa
          <a href="https://www.facebook.com/OmicsReader/">
              https://www.facebook.com/OmicsReader/
          </a>
          <br/>
      </p>

      <p>
        <strong>D) Contenido Digital y Plazo de Licencia Limitada</strong>
      </p>
      <p>
          * Contenido Digital. Como usuario entiende y acepta que el Sitio Web
          OMICS son propiedad de OMICS Digital Reader. El Contenido Digital adherido
          en el Servicio es propiedad de OMICS Digital Reader o es materia de
          licencia otorgada por el propietario de los derechos de autor OMICS Digital
          Reader. El Sitio Web OMICS y el Contenido Digital est&#225;n protegidos por
          las leyes del derecho de autor en la Rep&#250;blica de Argentina, as&#237;
          como otras leyes y tratados en materia de propiedad intelectual. OMICS
          Digital Reader no le transfiere ning&#250;n t&#237;tulo, derecho,
          inter&#233;s respecto del Sitio Web OMICS y/o el Contenido Digital.
      </p>
      <p>
          * Uso del Contenido Digital. Al momento de usar el Contenido Digital, OMICS
          Digital Reader le otorga una licencia limitada, no exclusiva, no
          transferible, no sub-licenciable, y revocable, para acceder, ver y utilizar
          dicho Contenido Digital, de manera personal y no para fines comerciales,
          conforme a los t&#233;rminos de este Contrato. La licencia no le otorga
          ning&#250;n derecho de propiedad respecto de dicho Contenido Digital. En el
          Sitio Web OMICS, el usuario puede acceder, ver o utilizar el Contenido
          Digital. OMICS Digital Reader concede al usuario una licencia respecto del
          Contenido Digital, en el entendido que el mismo no le es vendido,
          transferido o cedido.
      </p>
      <p>
          * Limitaciones. Salvo que OMICS Digital Reader disponga lo contrario por
          escrito, el usuario debe reservarse de copiar, redistribuir, vender,
          transmitir, retransmitir o sublicenciar el Contenido Digital. Debe
          abstenerse de intentar eludir, evitar, omitir, eliminar, desactivar,
          impedir o de otro modo anular cualquier tecnolog&#237;a de cifrado,
          se&#241;alizaci&#243;n de derechos o tecnolog&#237;a de protecci&#243;n
          contra copia incluido en la plataforma o asociado con &#233;ste el
          Contenido Digital, y se inhibe de editar, modificar, traducir o crear
          trabajos derivados a partir de los trabajos publicados o adaptaciones del
          Contenido Digital. Adem&#225;s, tiene que privarse de duplicar o de
          cualquier otra forma reproducir (incluyendo, pero no limitado a grabar) el
          Contenido Digital, o cualquier parte del mismo, en cualquier medio
          f&#237;sico o memoria o dispositivo (salvo respecto de su dispositivo
          personal autorizado para descargar Contenido Digital hasta por un periodo
          de treinta d&#237;as), incluyendo sin limitar a CDs, DVDs, computadoras u
          otro hardware, o cualquier otro medio conocido o en el presente o en el
          futuro.
      </p>
      <p>
          <strong>E) Sitio Web OMICS</strong>
      </p>
      <p>
          * Uso del Sitio Web OMICS. El usuario puede utilizar el Sitio Web OMICS,
          incluyendo el software asociado a ellos. Debe abstenerse de separar
          componentes individuales de dicho software para utilizarlo en otro
          dispositivo o computadora, no puede transferirlo para usarlo en otro
          dispositivo o computadora o usarlo, total o parcialmente, a trav&#233;s de
          una red, y no puede vender, prestar, distribuir o sublicenciar, o de
          cualquier otra forma ceder, cualquier derecho sobre el software, ya sea
          total o parcialmente.
      </p>
      <p>
          * Actualizaciones. Para mantener el Sitio Web OMICS actualizados, OMICS
          Digital Reader puede poner a disposici&#243;n actualizaciones / mejoras al
          Sitio Web OMICS. Si el usuario no contempla dichas actualizaciones, es
          posible que no pierda el beneficio de ciertas caracter&#237;sticas,
          funciones o avisos del Sitio Web OMICS.
          <br/>
      </p>
      <p>
          * Prohibici&#243;n de Aplicaci&#243;n de Ingenier&#237;a Inversa,
          Desagregaci&#243;n, Desmontaje, o Contravenci&#243;n. El usuario debe
          abstenerse de modificar, aplicar ingenier&#237;a inversa, descompilar,
          reproducir, copiar, desmontar el Sitio Web OMICS, o de cualquier otra forma
          reducir el archivo de computadora en el que el Contenido Digital se
          almacena, a una forma legible, ya sea en su totalidad o en parte, crear
          cualquier obra derivada del Sitio Web OMICS, u omitir, modificar, afectar,
          o alterar o eludir cualquiera de las funciones o protecciones del Sitio Web
          OMICS; por ejemplo, modificando, reduciendo, aumentando, o sustituyendo
          cualquier funci&#243;n de gesti&#243;n de derechos digitales.
      </p>

      <p>
        <strong>F) Condiciones de Uso</strong>
      </p>
      <p>
          L&#237;mite de Edad para los Usuarios. El usuario del Servicio debe tener
          por lo menos catorce (14) a&#241;os (la &#8220;Edad M&#237;nima&#8221;). El
          Uso del Servicio por cualquier persona que no haya cumplido la Edad
          M&#237;nima no est&#225; autorizado y respecto de dichas personas, el
          equipo de Omics no le concede licencia alguna. Si no cumple con este
          requisito, la persona no debe utilizar el Servicio.
      </p>
      <p>
          Si el usuario tiene entre 14 y 18 a&#241;os (o est&#225; entre la Edad
          M&#237;nima y la mayor&#237;a de edad legal en su respectiva
          jurisdicci&#243;n, un &#8220;Menor(es)&#8221;), solo puede utilizar el
          Servicio bajo la supervisi&#243;n de sus padres o de quien ejerza su
          representaci&#243;n legal (el/los &#8220;Representante(s)&#8221; los cuales
          quedan obligados bajo el Contrato.
          <br/>
          <br/>
      </p>
      <p>
          En caso de que la persona sea un Menor, su Representante, declara al
          equipo de Omics que el Usuario (1) tiene, al menos, la Edad M&#237;nima y
          (2) en caso de ser un Menor, solo utiliza el Servicio con el consentimiento
          y bajo la supervisi&#243;n de un Representante que queda obligado con Omics
          bajo el Contrato, y que el uso del Servicio es para prop&#243;sitos
          personales. Se puede llegar a solicitar que proporcione evidencia del
          consentimiento de su Representante o de su edad. As&#237; mismo, se puede
          dar por terminado el uso del Servicio si llegara a ser de conocimiento del
          equipo Omics que cualquiera de las declaraciones que la persona hace no es
          correcta. Se sugiere a los Representantes que permiten a sus representados
          utilizar un servicio interactivo, que conversen con ellos sobre la
          seguridad en l&#237;nea, as&#237; como de la clasificaci&#243;n de
          contenidos. Los Representantes que permitan a Menores utilizar cualquier
          servicio interactivo deben informar a sus representados de los riesgos
          potenciales que esto representa. Los Representantes son los responsables de
          las acciones u omisiones de los Menores que representen.
      </p>
      <p>
          El equipo de Omics no recopila, intencional o accidentalmente, datos de
          ni&#241;os o Menores en los casos en que los Representantes no han
          consentido que el Menor utilice el Servicio. Sin embargo, si un
          Representante descubre que un Menor nos ha proporcionado informaci&#243;n
          personal sin el permiso del Representante respectivo, el Representante debe
      comunicarse con el equipo de Omics a trav&#233;s de    <a href="mailto:omics.contacto@gmail.com">omics.contacto@gmail.com</a>.
          Tras la solicitud del Representante, el equipo de Omics va a eliminar
          cualquier informaci&#243;n personal de dicho Menor sin necesidad de actos
          posteriores del Representante. El Representante debe indemnizar y sacar a
          salvo al equipo de Omics de cualquier obligaci&#243;n, da&#241;os, demandas
          o cualquier otra acci&#243;n legal relacionada con la transmisi&#243;n de
          datos personales por el Menor.
          <br/>
          <br/>
      </p>
      <p>
          Cumplimiento de la Ley y Reserva de Derechos. El usuario debe utilizar el
          Sitio Web OMICS y/o el Contenido Digital de conformidad con todas las leyes
          aplicables, incluyendo, sin limitar, las de su jurisdicci&#243;n. Las
          licencias otorgadas bajo este Contrato son no exclusivas y cualquier
          derecho que no est&#233; expresamente concedidos en este Contrato quedan
          reservados para OMICS Digital Reader.
      </p>
      <p>
          <strong>G) Privacidad</strong>
      </p>
      <p>
          El equipo Omics respeta la privacidad del usuario y estable ciertas
          pol&#237;ticas y procedimientos relativos a la recopilaci&#243;n y uso de
          sus datos personales en relaci&#243;n con el uso del Servicio. La
          Pol&#237;tica de Privacidad se encuentra disponible en el Sitio Web OMICS y
          en el <a>apartado 6 </a>del Manual de usuario, y es aplicable al uso que
          como usuario haga del Servicio. Al utilizar el Servicio y/o indicar su
          consentimiento a la Pol&#237;tica de Privacidad, acepta a los t&#233;rminos
          de la Pol&#237;tica de Privacidad, seg&#250;n &#233;sta sea modificada de
          tiempo en tiempo.
      </p>
      <p>
          No se recopila a sabiendas informaci&#243;n personal de ni&#241;os menos de
          14 a&#241;os. Cualquier padre o tutor que crea que un ni&#241;o puede haber
          proporcionado informaci&#243;n personal debe comunicarse con el equipo de
      Omics a trav&#233;s de    <a href="mailto:omics.contacto@gmail.com">omics.contacto@gmail.com</a>. En
          tal caso, se toman las medidas necesarias para eliminar inmediatamente la
          informaci&#243;n personal de ni&#241;os menores de 14 a&#241;os.
      </p>
      <p>
          <strong>H) Propiedad Intelectual y Otros Derechos</strong>
      </p>
      <p>
          El Servicio es propiedad de y es operado por OMICS Digital Reader, y el
          Contenido Digital es otorgado bajo licencia por el propietario de los
          derechos de autor a OMICS Digital Reader. El Contenido Digital, el
          software, las interfaces visuales, los elementos interactivos, las
          caracter&#237;sticas, la informaci&#243;n, los gr&#225;ficos, los
          dise&#241;os, la compilaci&#243;n, el c&#243;digo de computadora, los
          productos, la apariencia y todos los dem&#225;s elementos del Servicio,
          est&#225;n protegidos por las leyes de la Rep&#250;blica de Argentina
          relativas a la protecci&#243;n de propiedad intelectual y los derechos de
          propiedad, incluyendo las leyes en materia de derechos de autor, patentes,
          imagen comercial y marcas registradas, as&#237; como las leyes relacionadas
          con la protecci&#243;n y seguridad de informaci&#243;n. Todo el Contenido
          Digital y el Servicio, incluyendo los derechos de propiedad intelectual
          aqu&#237; contenidos y relativos a los anteriores, son propiedad de OMICS
          Digital Reader o sus subsidiarias o afiliadas y/o terceros licenciantes. El
          usuario debe abstenerse de reproducir, distribuir, rentar, arrendar,
          vender, licenciar, copiar, modificar, realizar o exhibir p&#250;blicamente,
          transferir, transmitir, publicar, editar, adaptar, preparar trabajos
          derivados o basados en, o de otra manera usar Contenido Digital, excepto
          que est&#233; expresamente autorizado por este Contrato. OMICS Digital
          Reader se reserva todos los derechos no otorgados expresamente en este
          Contrato.
      </p>
      <p>
          <a><strong>I) Publicidad</strong></a>
      </p>
      <p>
          El equipo de Omics puede proporcionar anuncios propios o de terceros en
          l&#237;nea, entre otros, en el Sitio Web OMICS de conformidad con el
          Contrato. Los anuncios incluyen, pero no est&#225;n limitados, entre otros,
          la colocaci&#243;n de mensajes promocionales (incluida cualquier
          tecnolog&#237;a relacionada) con el fin de publicitar los productos o
          servicios de un anunciante externo. Los anuncios pueden consistir en texto,
          gr&#225;ficos, audio y/o video o cualquier combinaci&#243;n de estos y
          puede direccionar al usuario a un enlace externo (por ejemplo, una
          p&#225;gina destino).
      </p>
      <p>
          <strong>J) Suspensi&#243;n de Acceso</strong>
      </p>
      <p>
          El equipo de Omics puede modificar, suspender o descontinuar el acceso a
          cierto Contenido Digital en caso de cualquier eventualidad relativa a
          derechos o cualquier otra incidencia de negocios o legal.
      </p>
      <p>
          <strong>K) Terminaci&#243;n</strong>
      </p>
      <p>
          Los derechos del usuario bajo este Contrato terminan autom&#225;ticamente
          si no cumple con los t&#233;rminos del mismo. En caso de dicha
          terminaci&#243;n, debe suspender el uso del Servicio y/o Contenido Digital
          y el equipo de Omics se reserva el derecho de revocar inmediatamente su
          acceso al Servicio y/o Contenido Digital. La falta de ejercicio de
          cualquier derecho o condici&#243;n de este Contrato por el equipo de Omics,
          no constituye renuncia alguna a dicho derecho o condici&#243;n ni a
          cualquier derecho o recurso disponible para el mismo.
      </p>
      <p>
          <strong>L) Ausencia de Garant&#237;as</strong>
      </p>
      <p>
          El uso del sitio web <em>Omics</em> y/o el contenido digital es bajo el
          propio riesgo del usuario. Ninguna informaci&#243;n oral o escrita ni
          ning&#250;n consejo dado por el equipo o cualquier representante autorizado
          de <em>Omics</em> constituye una garant&#237;a. El sitio web <em>Omics</em>
          , y/o el contenido digital se proporcionan en los t&#233;rminos en que se
          encuentran, con todas las fallas y sin garant&#237;a de ning&#250;n tipo, y
          ni la empresa ni sus licenciantes otorgan garant&#237;as expresas,
          impl&#237;citas o legales, incluyendo sin limitar, garant&#237;as
          impl&#237;citas o condiciones de comerciabilidad, idoneidad para un
          prop&#243;sito particular, exactitud, uso inalterado de posesi&#243;n,
          calidad satisfactoria, no infracci&#243;n de derechos de terceros y sus
          equivalentes bajo las leyes de cualquier jurisdicci&#243;n. Omics no hace
          declaraciones o garant&#237;as respecto a que el servicio o el acceso y uso
          del servicio por el usuario es ininterrumpido o sin errores, libre de
          virus, de c&#243;digos maliciosos o de cualquier otro componente
          da&#241;ino o que es seguro. El equipo de <em>Omics</em> no es responsable
          de ning&#250;n da&#241;o a su dispositivo m&#243;vil, Tablet, computadora
          port&#225;til o de escritorio, sistema inform&#225;tico, otro hardware o
          software, o de cualquier p&#233;rdida o da&#241;o a datos, por lesiones
          personales o da&#241;os a la propiedad de cualquier naturaleza que puedan
          resultar del uso del servicio. Omics no hace declaraciones o garant&#237;as
          sobre la exactitud o integridad del contenido en el servicio o el contenido
          de cualquier sitio vinculado a este sitio y no asume obligaci&#243;n o
          responsabilidad alguna por cualquier error, fallo, o inexactitudes,
          cualquier error u omisi&#243;n en cualquier contenido o por cualquier
          p&#233;rdida o da&#241;o de cualquier tipo como resultado del uso del
          contenido publicado, enviado por correo electr&#243;nico, transmitido o de
          otra manera disponible a trav&#233;s de los servicios. Adem&#225;s, no
          garantiza, avala o asume responsabilidad por cualquiera de los productos o
          servicios publicitados u ofrecidos por un tercero a trav&#233;s de los
          servicios o cualquier servicio hipervinculado o presentado en cualquier
          banner u otra publicidad, y el equipo <em>Omics</em> no es parte de, o de
          cualquier forma responsable de, monitorear cualquier transacci&#243;n entre
          el usuario y proveedores de productos o servicios terceros. Como con la
          compra de un producto o servicio a trav&#233;s de cualquier medio o en
          cualquier ambiente, el usuario debe utilizar su mejor juicio y ser
          precavido cuando lo amerite.
      </p>
      <p>
          <strong>M) Limitaci&#243;n de Responsabilidad</strong>
      </p>
      <p>
          En la medida en que lo permite la ley, el equipo de <em>Omics</em> y sus
          licenciatarios y afiliados no son responsables por ning&#250;n da&#241;o
          incidental o como consecuencia de un incumplimiento de cualquier
          garant&#237;a expresa o impl&#237;cita, incumplimiento de contrato,
          negligencia, responsabilidad estricta o cualquier otra teor&#237;a legal
          relacionada al sitio web <em>Omics</em> y/o el contenido digital, tales
          como da&#241;os derivados de la p&#233;rdida de ganancias, ingresos, datos,
          uso del sitio web <em>Omics</em> y/o el contenido digital o cualquier
          producto asociado, o cualquier error, o inexactitud de contenido, cualquier
          error u omisi&#243;n en cualquier contenido o por cualquier p&#233;rdida o
          da&#241;os de cualquier tipo como consecuencia del uso del contenido
          publicado, enviado por correo electr&#243;nico, transmitido o de otro modo
          disponible a trav&#233;s de los servicios, incluso si el equipo es
      notificado de la posibilidad de esos da&#241;os. El uso del sitio web    <em>Omics</em> y/o el contenido digital y el software es bajo su propio
          riesgo. Para el servicio gratuito, el equipo y sus licenciatarios y
          afiliadas no son responsables de cualquier da&#241;o o p&#233;rdida
          directa, indirecta, incidental o consecuencial.
      </p>
      <p>
          <strong>N) Indemnizaci&#243;n</strong>
      </p>
      <p>
          El usuario se obliga a indemnizar, defender y liberar de responsabilidad al
          equipo Omics y sus afiliadas contra cualquier p&#233;rdida,
          responsabilidad, demanda, acci&#243;n, y gasto (incluyendo sin limitar,
          honorarios razonables de abogados y costos de investigaci&#243;n, previos o
          posteriores a la presentaci&#243;n de una demanda formal y gastos de
          litigio razonables) que surjan de, o est&#233;n relacionados con, el uso
          del Servicio, sus Publicaciones de Usuario, la violaci&#243;n a este
          Contrato o a cualquier ley o regulaci&#243;n aplicable.
      </p>
      <p>
          <strong>
              O) Restricciones Geogr&#225;ficas y Ley Aplicable; Controversias
          </strong>
      </p>
      <p>
          Omics brinda los Servicios desde Argentina. No se afirma que el Sitio Web
          OMICS, o cualquiera del Servicio sea accesible o apropiada fuera de la
          Argentina. El acceso al Sitio Web OMICS o los Servicios OMICS puede no
          estar permitido legalmente para ciertas personas o en ciertos pa&#237;ses.
          Si accede al Sitio Web OMICS fuera de la Argentina, lo hace por iniciativa
          propia y el usuario es responsable del cumplimiento con las leyes de su
          jurisdicci&#243;n.
      </p>
      <p>
          El usuario acepta que todos los asuntos relacionados con el Sitio Web OMICS
          y el Contrato y cualquier controversia o demanda que surja de los mismos,
          se va a interpretar de conformidad con las leyes de Argentina, sin dar
          efecto a disposici&#243;n alguna en materia de elecci&#243;n o conflicto de
          leyes. Adem&#225;s, acepta que cualquier demanda legal, acci&#243;n o
          procedimiento que pueda surgir de, o relacionado con este Contrato se
          tramita exclusivamente en los tribunales federales de la Argentina.
          Tambi&#233;n el usuario renuncia a todas y cada una de las objeciones al
          ejercicio de la jurisdicci&#243;n y competencia de dichos tribunales.
      </p>
      <p>
          <strong>P) Integridad del Contrato y Divisibilidad</strong>
      </p>
      <p>
          El Contrato constituye el contrato &#237;ntegro entre le usuario y OMICS
          Digital Reader respecto al Servicio y/o Contenido Digital y reemplaza todos
          los entendimientos previos sobre dicho tema. Si alg&#250;n t&#233;rmino o
          condici&#243;n del Contrato se considera inv&#225;lido, nulo o por
          cualquier raz&#243;n inaplicable, esa parte se considera separable y no
          afecta la validez y aplicabilidad de cualquier otro t&#233;rmino o
          condici&#243;n.
      </p>
      <p>
          <strong>Q) Modificaci&#243;n</strong>
      </p>
      <p>
          Omics puede modificar cualquiera de los t&#233;rminos del Contrato a su
          exclusivo criterio publicando el Contrato modificado en el Sitio de Web del
          mismo. El uso continuado del Servicio y/o el Contenido Digital despu&#233;s
          de la fecha en que surta efectos dicha modificaci&#243;n constituye su
          consentimiento para quedar obligado en t&#233;rminos de dicha
          modificaci&#243;n.
      </p>
      <p>
          <strong>R) Informaci&#243;n de Contacto</strong>
      </p>
      <p>
          Para obtener ayuda con el Servicio y/o Contenido Digital, favor de
          comunicarse con el equipo de OMICS en omics.contacto@gmail.com
      </p>


      <!-- #endregion -->


    </div>

  </div>

</div>
