<div>

  <!-- Cabecera -->
  <div mat-dialog-title >

    <!-- Volver -->
    <div class="button-top-menu">
      <button mat-icon-button mat-dialog-close (click)="closeMatDialog()">
        <fa-icon [icon]="faClose" size="2x"></fa-icon>
      </button>
    </div>

    <!--image -->
    <div class="image-box">
      <img src="assets/images/omics-logo-sin-subtitulo.png" alt="omics-logo">
    </div>

    <br>

    <!-- Title Panel -->
    <div class="title-panel">
      <h2>Reiniciar Contraseña</h2>
    </div>

  </div>

  <!-- Body -->
  <mat-dialog-content class="mat-typography body">

    <p class="break-word">
      Para proteger tu cuenta, elige una contraseña que tenga al menos 6 caracteres.
    </p>

    <form autocomplete="off" [formGroup]="formRewritePassword">

      <!-- Contraseña -->
      <div class="form-group row">
        <div class="col">

          <div class="top-field">

            <small class="form-text text-top">
              Contraseña
            </small>

            <!-- mensaje de error -->
            <small  *ngIf="password1ChangeNoValido"
                    class="form-text text-danger">
              No válido (mínimo 8 carácteres)
            </small>

          </div>

          <div class="input-with-icon">

            <input  class="form-control"
                    [type]="passwordProperties.type"
                    placeholder="Contraseña"
                    formControlName="password1"
                    [class.is-invalid]="password1ChangeNoValido">

            <fa-icon  class="button"
                      (click)="showPassword( passwordProperties.visible )"
                      [icon]="(passwordProperties.visible) ? faEyeSlash : faEyeOpen"
                      size="1x">
            </fa-icon>

          </div>

        </div>
      </div>

      <!-- Repetir contraseña-->
      <div class="form-group row">
        <div class="col">

          <div class="top-field">

            <small class="form-text text-top">
              Repetir Contraseña
            </small>

            <!-- mensaje de error -->
            <small  *ngIf="password2ChangeNoValido"
                    class="form-text text-danger">
              Contraseña no válida
            </small>

          </div>

          <div class="input-with-icon">

            <input  class="form-control"
                    [type]="passwordProperties.type"
                    placeholder="Repita Contraseña"
                    formControlName="password2"
                    [class.is-invalid]="password2ChangeNoValido">

            <fa-icon  class="button"
                      (click)="showPassword( passwordProperties.visible )"
                      [icon]="(passwordProperties.visible)  ? faEyeSlash : faEyeOpen"
                      size="1x">
            </fa-icon>

          </div>
        </div>
      </div>

    </form>

  </mat-dialog-content>

  <!-- Bottom Action -->
  <mat-dialog-actions align="center">

    <button mat-icon-button (click)="sendRewritePassword()">
      <fa-icon [icon]="faArrowRight" size="3x"></fa-icon>
    </button>

  </mat-dialog-actions>

</div>

<!-- Sweet Alert Message -->
<swal #formUserNotValid
  title="Usuario no válido"
  text="El usuario al que se desea cambiar contraseña no existe o ya ha cambiado su contraseña."
  icon="error"
  [focusConfirm]="true"
  (confirm)="closeMatDialog()">
</swal>


<swal #formUserValid
  title="¡ÉXITO!"
  text="Tu contraseña ha sido cambiada satisfactoriamente. Ahora puedes usarla para acceder a la plataforma"
  icon="success"
  [focusConfirm]="true"
  (confirm)="closeMatDialog()">
</swal>
