@import "src/scss/vars";

.authors-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .author {
    margin: 1rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }

    .profile-image {
      height: 200px;
      width: 200px;
    }

    .text {
      margin: 0.5rem 0;
      display: flex;
      width: 100%;
      justify-content: space-between;

      .username {
        font-weight: bold;
        color: #fff;
      }

      .followers {
        color: #aaa;
      }
    }
  }
}
