<div class="notifications-container">
  <div class="side"></div>

  <div class="center">
    <div class="header">
      <h1>NOTIFICACIONES</h1>
    </div>

    <div class="body">
      <div class="notification" *ngIf="notifications.length === 0">
        Sin notificaciones recientes.
      </div>

      <div *ngFor="let notification of notifications">
        <div
          [ngSwitch]="notification.code"
          [class]="'notification ' + getClass(notification)">

          <div *ngSwitchCase="'welcome'">
            Bienvenido a <b>Omics</b>
          </div>

          <div *ngSwitchCase="'new-publication-from-followed-author'">
            El author
              <a [href]="'/profile/' + notification.body.author_id">
                {{notification.body.author_username}}
              </a>
            , a quien sigues, publicó una nueva obra que podría interesarte:
              <a [href]="'/read/' + notification.body.publication_id">
                {{notification.body.publication_name}}
              </a>.
          </div>

          <div *ngSwitchCase="'publication-approved'">
            ¡Tu publicación
            <a href="/deskboard">
              {{notification.body.publication_name}}
            </a>
            fue <b>aprobada</b>!<br>
            De ahora en más aparecerá en el catálogo.
          </div>

          <div *ngSwitchCase="'publication-rejected'">
            Lo sentimos. Tu publicación
            <a href="/deskboard">
              {{notification.body.publication_name}}
            </a>
            fue <b>rechazada</b>.
          </div>

          <div *ngSwitchCase="'publication-liked'">
            La publicación
            <a href="/deskboard">
              {{notification.body.publication_name}}
            </a>
            recibió un <b>like</b> del usuario
            <b>{{notification.body.reader_username}}</b>
          </div>

          <div *ngSwitchCase="'author-followed'">
            El usuario <b>{{notification.body.reader_username}}</b> comenzó a seguirte.
          </div>

          <div *ngSwitchCase="'subscription-activated'">
            Se ha activado tu suscripción. Ya puedes disfrutar todo el
            contenido que Omics tiene para ofrecerte.
          </div>

          <div *ngSwitchCase="'contract-approved'">
            El contrato para tu obra
            <a href="/deskboard">
               {{notification.body.publication_name}}
            </a>
            fue aprobado. Ya puedes comenzar a cobrar por las interacciones que
            tus publicaciones generen.
          </div>

          <div *ngSwitchCase="'contract-rejected'">
            Lo sentimos. El contrato que requeriste para
            <a href="/deskboard">
               {{notification.body.publication_name}}
            </a>
            fue rechazado. Puedes ponerte en contacto con nuestro soporte
            técnico para consultar el motivo.
          </div>

          <div *ngSwitchCase="'contract-payment-added'">
            Se añadió un pago para el contrato de tu publicación
            <a href="/deskboard">
               {{notification.body.publication_name}}
            </a>
            . Revisa tu cuenta de MercadoPago. Gracias por formar parte de
            nuestro equipo.
          </div>

          <div *ngSwitchCase="'donation-paid'">
            Donación de ${{notification.body.amount.toFixed(2)}} al usuario
            <a [href]="'/profile/' + notification.body.author_id">
              {{notification.body.author_username}}
            </a>
            realizada.
          </div>

          <div *ngSwitchCase="'donation-received'">
            El usuario
            <a [href]="'/profile/' + notification.body.reader_id">
              {{notification.body.reader_username}}
            </a>
            te realizó una donación de ${{notification.body.amount.toFixed(2)}}.
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="side"></div>
</div>
