@import "src/scss/vars";

div.container {

  padding: 1em;
  padding-top: 0px;

  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  min-height: 350px;
  position: relative;

  div.button-top-menu {

    display: flex;
    justify-content: flex-end;

    position: absolute;
    top: 0;

    width: 100%;

    button {
      margin: 0px;
      outline: none;
    }

  }


  .mat-dialog-title {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;


    h1 {
      margin-bottom: 0px;
      margin-top: 25px;
    }

  }

  .mat-dialog-content {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    padding: 0px;
    width: 100%;

    div.block-field {

      display: flex;
      flex: 1;
      flex-direction: column;
      min-width: 200px;

      div.input-field-row {

        display: flex;
        flex-direction: column;
        width: 100%;

        div.title-and-error {

          display: flex;
          justify-content: space-between;

          p.text-danger {
            text-align: end;
            font-weight: 500;
            font-size: medium;
            margin: 0;
          }

          p.field-name {
            display: flex;
            align-items: center;
            margin: 0px;
            margin-right: 1em;

            font-weight: bold;
            font-size: initial;

          }

        }

      }

      .text-area {
        margin-top: 0.5em;

        ::ng-deep div.mat-form-field-flex {
          background-color: white;
          color: black;
          border-radius: 6px;
        }
      }



    }

  }

}

hr {
  color: white;
  width: 100%;
  border-style: solid;
  border-width: 1px;
}


// Generales
button {

  color: white;

  &.neon-shadow-hover:hover {
    box-shadow: 0px 0px 10px 4px $omics-neon-pink;
  }

}
