<div class="parent">

  <div class="header">

    <h1>{{ title | uppercase}}</h1>

    <div  class="button-top-menu"
          style="flex: 0.5">
      <button mat-icon-button mat-dialog-close (click)="onClose()">
        <fa-icon [icon]="faClose" size="2x"></fa-icon>
      </button>
    </div>

  </div>

  <div class="body">

    <form class="body" [formGroup]="formRole">

      <!-- Block: campo nombre -->
      <div class="block-field">

        <div class="input-field-row">

        <div class="title-and-error">
          <p class="field-name">Nombre: </p>

          <!-- mensaje de error -->
          <p  *ngIf="nombreNovalido"
              class="form-text text-danger">
              Ingrese un nombre de al menos 4 caracteres
          </p>
        </div>

        </div>

        <!-- Input text -->
        <input  class="form-control"
                type="text"
                placeholder="Nombre categoría"
                formControlName="name"
                [class.is-invalid]="nombreNovalido">


      </div>


      <!--#region Box panel roles -->
      <div class="assign-permission-box" >

        <!-- Permisos añadidos -->
        <div class="permission-box">

          <h3>Permisos Asignados:</h3>
          <div class="body-permission">

            <ul>
              <li *ngFor="let pToSelect of permissionArrayAssigned; let i = index"
              (click)="onPermissionToRemove(i)">
              {{ pToSelect.name }}
              </li>
            </ul>

            <h4 *ngIf="permissionArrayAssigned.length === 0" style="margin-left: 0.5em;">
              << No hay permisos asignados >>
            </h4>

          </div>

        </div>

        <!-- Botones de asignar / remover permisos -->
        <div class="permission-action">

          <button
            mat-icon-button
            class="arrow-button"
            [disabled]="!currentItemSelected">

            <fa-icon [icon]="faLeft" size="3x"></fa-icon>

          </button>

        </div>

        <!-- Lista permisos -->
        <div class="permission-box">

          <h3>Lista de permisos:</h3>
          <div class="body-permission">

            <ul>
              <li *ngFor="let pToSelect of permissionArrayToSelect; let i = index"
                  (click)="onPermissionToAssign(i)">
                {{ pToSelect.name }}
              </li>
            </ul>

          </div>

        </div>

      </div>
      <!--#endregion -->

    </form>


    <!-- Botones -->
    <div class="action-buttons">

      <button *ngIf="!isNewRole"
            mat-flat-button
            color="warn"
            class="button-white-borders"
            style="margin: 1em"
            (click)="deleteRol()">

        <fa-icon  [icon]="faDelete" size="1x"></fa-icon>
        Eliminar

      </button>

      <button mat-flat-button
              color="accent"
              class="button-white-borders"
              style="margin: 1em"
              [disabled]="formRole.invalid"
              (click)="onSubmitForm()">

        <fa-icon  [icon]="faSave" size="1x"></fa-icon>
        Guardar

      </button>


    </div>

  </div>

</div>
