<div class="filter-box">

  <div class="box-type">
    <div  [ngClass]="{'selected': ( currentTypeSearch === optionTypeSearch.publication )}"
          (click)="changeTypeSearch( optionTypeSearch.publication )">
      Publicaciones
    </div>

    <div  [ngClass]="{'selected': ( currentTypeSearch === optionTypeSearch.collection )}"
          (click)="changeTypeSearch( optionTypeSearch.collection )">
      Colecciones
    </div>
  </div>

  <br>

  <!-- Solo para pantalla grande -->
  <span *ngIf="isBigScreen" style="width: 100%;">

    <form [formGroup]="formFilterSearch" class="big-screen">

      <!-- Filtros -->
      <div class="title-row">
        <h2>Filtros</h2>
      </div>

      <div class="date-filter">
        <h3 style="text-align: center; margin: 0">Fecha publicación: </h3>

        <div class="fila center">

          <!-- Fecha desde -->
          <mat-form-field appearance="fill" class="matDate">
            <mat-label>Desde...</mat-label>
            <input  matInput
                    [max]="maxDateToSerch"
                    [matDatepicker]="pickerFrom"
                    formControlName="dateFrom"
                    (dateChange)="convertDateToRFC3339($event.value, 'dateFrom')">
            <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
            <mat-datepicker #pickerFrom></mat-datepicker>
          </mat-form-field>

          <!-- Fecha hasta -->
          <mat-form-field appearance="fill" class="matDate">
            <mat-label>...Hasta</mat-label>
            <input  matInput
                    [max]="maxDateToSerch"
                    [matDatepicker]="pickerTo"
                    formControlName="dateTo"
                    (dateChange)="convertDateToRFC3339($event.value, 'dateTo')">
            <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
            <mat-datepicker #pickerTo></mat-datepicker>
          </mat-form-field>

        </div>

        <div class="fila center">

          <button mat-stroked-button class="button-white-borders"
                style="font-size: 1rem; width: 80%;"
                (click)="onSearchByDate()">
            <h4>Buscar por fecha</h4>
          </button>

        </div>

      </div>

      <br>

      <span *ngIf="currentTypeSearch === optionTypeSearch.publication">
      <mat-chip-list #chipTagList aria-label="Tag selection" style="margin: 0em 0.5em;">

        <mat-chip
            *ngFor="let filter of publicationFilterTypesOrderList; let i = index"
            style="cursor: pointer;"
            [color]="(filter.selected) ? 'accent': 'primary'"
            selected
            [selectable]="true"
            (click)="onFilterSelected(i, !filter.selected, filter.value)"
            [removable]="false">
            {{ filter.name }}
          </mat-chip>


        </mat-chip-list>
      </span>

      <br>

      <!-- Categorias -->
      <div *ngIf="categoryList.length > 0" style="padding: 0px; width: 70%;">

        <div class="input-field-row">

          <div class="title-and-error" >
            <p class="field-name">Categoría: </p>
          </div>

          <div  class="d-inline-block"
                ngbDropdown
                #dropdownCategory="ngbDropdown">

            <button class="btn button-white-borders hover-white mr-2"
                    id="dropdown-category" ngbDropdownAnchor
                    (focus)="dropdownCategory.open();">

                      <span *ngIf="!categoryFormValueId">
                        Lista de categorías disponibles
                      </span>

                      <span *ngIf="categoryFormValueId">
                        {{ categoryValueName }}
                      </span>
            </button>

            <div ngbDropdownMenu aria-labelledby="dropdown-category">

              <!-- Opciones únicas -->
              <mat-radio-group formControlName="category_id">
                <ul>
                  <li style="width: 100%; padding-left: 1em;"
                      *ngFor="let category of categoryList">

                    <mat-radio-button
                                  color="primary"
                                  [value]="category.valueId"
                                  (change)="onSelectCategory(category); dropdownCategory.close()">
                      {{ category.name }}
                    </mat-radio-button>

                  </li>
                </ul>
              </mat-radio-group>

            </div>

          </div>

        </div>

      </div>

    </form>

  </span>

</div>
