@import "src/scss/vars";

div.filter-box {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;
  color: white;

  div.box-type {

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.1em 0.1em;

    font-size: 12pt;

    color: white;

    div {
      cursor: pointer;
      padding: 0.5em 0.5em;

      &.selected {
        font-weight: bold;
        color: $omics-background-flat;
        background-color: white;
      }

      &:not(.selected) {
        box-shadow: inset 0px 0px 0px 2px white;
        background-color: #201D2E;
      }

      &:hover {
        color: $omics-neon-pink;
      }

    }

  }

  form {
    display: flex;
    width: 100%;

    &.big-screen {
      flex-direction: column;
      align-items: center;
    }
  }

  div.title-row {

    width: 100%;
    display: flex;
    justify-content: center;

    background-color: $omics-background-menu;

    h2 {
      margin: 0em;
    }

  }


  mat-form-field.matDate {

    width: 126px;
    margin: 0.25em;

    ::ng-deep div.mat-form-field-flex {
      background-color: white;
      color: black;
    }
  }

}


// les
.fila {
  display: flex;
  flex-direction: row;
  width: 100%;

  &.center {
    justify-content: center;
  }

}


button.button-white-borders {

  color: white;
  border-color: white;

  &.clear {
    background-color: gray !important;
  }


  &:hover  {
    &:not(.clear){
      box-shadow: 0px 0px 6px 2px $omics-aqua-button
    }
    &.clear{
      box-shadow: inset 0px 0px 0px 2px white;
    }
  }

  h4 {
    margin: 5px 0px;
    letter-spacing: 2px;
    font-weight: 400;
  }


}



.dropdown, .dropup {

  width: 100%;

  button {
    width: 100%;
    background-color: $omics-background-flat;
    text-align: initial;
  }

  .dropdown-menu {

    width: 100%;
    color: black;
    background-color: white;
    margin-top: 0px;

    overflow-y: auto;

    ul {
      max-height: 140px;
      list-style-type: none;
      padding-left: 0px;
      margin-top: 4px;
      margin-bottom: 0px;
    }
  }

}


// Superposición de estilos
::ng-deep .mat-chip-list-wrapper {
  justify-content: center;
}

div.input-field-row {

  display: flex;
  flex-direction: column;
  width: 100%;

  div.title-and-error {

    display: flex;
    justify-content: space-between;

    p.text-danger {
      text-align: end;
      font-weight: 500;
      font-size: medium;
      margin: 0;
    }

    p.field-name {
      display: flex;
      align-items: center;
      margin: 0px;
      margin-right: 1em;

      font-weight: bold;
      font-size: initial;

    }

  }

}
