<mat-drawer-container autosize hasBackdrop="true">

  <!-- Sidenav menu -->
  <mat-drawer #sidenav_main  mode="over">

    <app-side-nav-menu  (clickSideNavToggle)="sidenav_main.toggle()"
                        (clickRegisterLoginDialog)="header_menu.openLoginRegisterDialog()">
    </app-side-nav-menu>

  </mat-drawer>

  <app-nav-bar  #header_menu
                (clickSideNavToggle)="sidenav_main.toggle()">
  </app-nav-bar>

  <!-- Body page -->
  <div>

    <router-outlet></router-outlet>

  </div>

</mat-drawer-container>
