
<!-- Loading bar -->
<ngx-spinner  bdColor = "rgba(0, 0, 0, 0.8)"
              size = "large"
              color = "#b30bbd"
              type = "ball-8bits"
              [fullScreen] = "true">
  <h1 style="color: white" >
    Cargando...
  </h1>
</ngx-spinner>

<!-- Main Container -->
<mat-drawer-container autosize hasBackdrop="true">

  <!-- Sidenav menu main (left)-->
  <mat-drawer #sidenav_main  mode="over" position="start">

    <app-side-nav-menu-main (clickSideNavMainToggle)="sidenav_main.toggle()"
                            (clickRegisterLoginDialog)="header_menu.openLoginRegisterDialog()">
    </app-side-nav-menu-main>

  </mat-drawer>

  <!-- Sidenav menu user (right)-->
  <mat-drawer #sidenav_user  mode="over" position="end">

    <app-side-nav-menu-user (clickSideNavUserToggle)="sidenav_user.toggle()"
                            (clickLogout)="header_menu.logout()">
    </app-side-nav-menu-user>

  </mat-drawer>

  <app-nav-bar  #header_menu
                (clickSideNavMainToggle)="sidenav_main.toggle()"
                (clickSideNavUserToggle)="sidenav_user.toggle()"
                >
  </app-nav-bar>

  <!-- Body page -->
  <div>

    <router-outlet></router-outlet>

  </div>

</mat-drawer-container>
