.reports-container {
  padding: 2rem;

  .publication {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1rem;
    border-radius: 3px;
    margin-bottom: 1rem;

    .statistics {
      margin-bottom: 2rem;
    }

    table {
      width: 100%;
      border-collapse: collapse;

      th, td {
        border: 1px solid rgba(0, 0, 0, 0.5);
        text-align: left;
        padding: 8px;
      }

      td {
        font-size: 0.8rem;
      }
    }
  }
}
