<div class="panel-box">

  <div class="header">

    <span style="display: flex;">

      <p  class="date-published" *ngIf="publication"
          style="flex: 2">
        Publicado: {{ publication.created_at | date: 'shortDate' | date: 'dd/MM/yyyy'}}
      </p>

      <div  class="button-top-menu"
            style="flex: 0.5">
        <button mat-icon-button mat-dialog-close (click)="onClose()">
          <fa-icon [icon]="faClose" size="2x"></fa-icon>
        </button>
      </div>

    </span>


  </div>


  <!-- Solo en pantallas chicas-->
  <h2 *ngIf="!isBigScreen && publication" style="margin: 5px; text-align: center;">
    {{ publication.name | truncateString: 40 : true }}
  </h2>

  <div class="multiple-option-menu" *ngIf="readerInfo && !isBigScreen">

    <button mat-icon-button (click)="onDonar()" class="option-item">
      <fa-icon [icon]="faDonar" size="2x"></fa-icon>
    </button>

    <button mat-icon-button (click)="onFavorito()" class="option-item">
      <fa-icon  [icon]="faFavorito" size="2x"
                [ngClass]="{'selected': readerInfo.in_favorites}">
      </fa-icon>
    </button>

    <button mat-icon-button (click)="onLike()" class="option-item">
      <fa-icon  [icon]="faLike" size="2x"s
                [ngClass]="{'selected': readerInfo.liked}">
      </fa-icon>
    </button>

  </div>

  <!-- Info detallada -->
  <div class="body" *ngIf="publication">

    <div class="side description-box">

      <!-- Publication info -->
      <div class="column-direction-by-size small-padding" style="flex: 1">

        <div style="flex: 10">
          <h2 *ngIf="isBigScreen">{{ publication.name | truncateString: 50 : true }}</h2>

          <div class="fila padding-side all-width">

            <div class="fila center-align">
              <pre style="color: white; margin: 0px">by </pre>

              <div  class="fila center-align author-name"
                    (click)="onGoToAuthorProfile()">
                <h4 style="margin: 0px"> {{ publication.author.username }}</h4>

                <img  [src]="publication.author.profile_image"
                      alt="omics-avatar-profile"
                      class="avatar"
                      style="margin-left: 5px;">

              </div>

            </div>


            <div class="fila center-align">

              <pre style="color: white; margin: 0px">Categoría: </pre>
              <h4 style="display: flex; align-items: center; margin: 0px">
                {{ publication.category.name | uppercase }}
              </h4>

            </div>

          </div>


          <div class="fila padding-side all-width" style="margin: 1em 0em; justify-content: space-evenly">

            <div class="fila center-align">
              <fa-icon [icon]="faVistas" size="2x"></fa-icon>
              <h4 style="margin: 0px 10px;">{{ publication.statistics.views }}</h4>
            </div>

            <div class="fila center-align">
              <fa-icon [icon]="faLike" size="2x"></fa-icon>
              <h4 style="margin: 0px 10px;">{{ totalLikes }}</h4>
            </div>

            <div class="fila center-align">
              <fa-icon [icon]="faStarFill" size="2x"></fa-icon>
              <h4 style="margin: 0px 10px;">{{ publication.statistics.stars | number: '1.0-1' }} / 5</h4>
            </div>

          </div>

          <!-- Synopsis -->
          <div class="fila padding-side all-width" style="padding: 1em;">
            <p class="sangria break-word">{{ publication.synopsis }}</p>
          </div>

        </div>

        <div  *ngIf="isReadButtonVisible"
              style="flex: 1; display: flex; justify-content: center; margin-bottom: 10px;">

          <button mat-stroked-button class="button-white-borders"
                style="font-size: 1rem; width: 80%;"
                (click)="onGoToRead()">
            <h3>LEER</h3>
          </button>
        </div>

      </div>

    </div>

    <div class="side opacity-background">

      <div  *ngIf="readerInfo"
            class="fila" style="justify-content: center;">
        <bar-rating [(rate)]="ratingPublication" [max]="5" [theme]="'stars'"
                    (rateChange)="addReview($event)">
        </bar-rating>
      </div>

      <div class="comment-box">

        <app-publication-reviews-box
          *ngIf="reviewList !== undefined"
          [reviewArray]="reviewList"
          [readerData]="readerInfo">
        </app-publication-reviews-box>

      </div>

      <!-- Option bar -->
      <div class="multiple-option-menu" *ngIf="readerInfo && isBigScreen">

        <button mat-icon-button (click)="onDonar()" class="option-item">
          <fa-icon [icon]="faDonar" size="2x"></fa-icon>
        </button>

        <button mat-icon-button (click)="onFavorito()" class="option-item">
          <fa-icon  [icon]="faFavorito" size="2x"
                    [ngClass]="{'selected': readerInfo.in_favorites}"></fa-icon>
        </button>

        <button mat-icon-button (click)="onLike()" class="option-item" style="margin-bottom: 5px;">
          <fa-icon  [icon]="faLike" size="2x"
                    [ngClass]="{'selected': readerInfo.liked}"></fa-icon>
        </button>

      </div>

  </div>

  </div>


</div>
