<div class="listado-biblioteca">

  <!-- Catalogo de publicaciones y colecciones -->

  <!-- Publication -->
  <div  *ngIf="currentTypeSearch ===  optionTypeSearch.publication"
        class="catalogo">

    <!-- Sin publicaciones -->
    <span *ngIf="!isSpinnerLoading">
      <h1 *ngIf="publicationList.length === 0 && isSearched"
          class="text-no-found">
        No existen publicaciones con ese filtro de búsqueda actualmente
      </h1>

      <h1 *ngIf="publicationList.length === 0 && !isSearched"
          class="text-no-found">
        No existen publicaciones actualmente
      </h1>
    </span>

    <!-- Con publicaciones -->
    <div class="card-thumbail" *ngFor="let publication of publicationList">
      <app-publication-card-reader
            [publication]="publication"
            (click)="showPublicationInfo( publication.id )">
      </app-publication-card-reader>
    </div>

  </div>

  <!-- Collection -->
  <div  *ngIf="currentTypeSearch ===  optionTypeSearch.collection"
        class="catalogo">


    <!-- Sin publicaciones -->
    <span *ngIf="!isSpinnerLoading">
      <h1 *ngIf="collectionList.length === 0 && isSearched"
          class="text-no-found">
        No existen colecciones con ese filtro de búsqueda actualmente
      </h1>
      <h1 *ngIf="collectionList.length === 0 && !isSearched"
          class="text-no-found">
        No existen colecciones con ese filtro de búsqueda actualmente
      </h1>
    </span>

    <!-- Con publicaciones -->
    <div class="card-thumbail" *ngFor="let collection of collectionList">
      <app-collection-card-reader
            [collection]="collection">
      </app-collection-card-reader>
    </div>

  </div>

  <!-- Filstros y búsqueda -->
  <div class="search-filters">

    <app-catalogue-filter
      style="width: 100%;"
      (typeSearch)="changeTypeSearch($event)"
      (filterSearch)="onSearch($event)">
    </app-catalogue-filter>

  </div>

</div>
