@import "src/scss/vars";

div.listado-biblioteca {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  div.comic-thumbail {

    margin: 2em 2em;

    cursor: pointer;

    &:hover {

      // box-shadow: 0px 0px 15px 4px $omics-neon-pink;
      // box-sizing: border-box;
      // border: 1px solid #eee;
      background-color: rgba(255, 255, 255, 0.1);

    }

    img {
      height: auto;
    }

  }

}
